In [1]:
# %tensorflow_version 1.x
import pandas as pd
import numpy as np
# np.random.seed(1337)
from keras import Sequential
from keras.utils import Sequence
from keras.layers import LSTM, Dense, Masking
import numpy as np
import keras
from keras.utils import np_utils
from keras import optimizers
from keras.models import Sequential, Model
from keras.layers import Embedding, Dense, Input, concatenate, Layer, Lambda, Dropout, Activation
import datetime
from datetime import datetime
from keras.callbacks import ModelCheckpoint, EarlyStopping, Callback, TensorBoard
import tensorflow as tf
import tensorflow_hub as hub

Using TensorFlow backend.

In [2]:
tf.test.is_gpu_available()

True

In [3]:
LABEL = 'label1-g'

In [4]:
transcript_raw = pd.read_csv('Data/transcript.csv')
transcript_raw.columns = transcript_raw.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
transcript_raw = transcript_raw[transcript_raw.google_transcript.notnull()]
transcript_raw.head()

,unnamed:_0,interview_id,interview_date,record_creation_date,venue,address_name,street,city,state_/_province,postal_code,...,interviewer_relationship_5_to_storyteller_2,language_1,language_2,language_3,keywords_-_fixed_subjects,keywords_-_general,keywords_-_places,deep_speech,human_transcript,google_transcript
0,0,MBY005668,9/5/09 11:30,9/5/09,MobileBooth West (MBY),MobileBooth West,Paonia Public Library,Paonia,CO,81428.0,...,NaN,Spanish,NaN,NaN,Achievements and Awards\n\nChildren\n\nCommuni...,"bilingual\n\nBilingue\n\nChihuahua, Mexico\n\n...",,i am an amadis so my lawyer in whitewashin or ...,NaN,I mean I'm already so my lawyer Singapore and ...
1,1,MBY005704,9/12/09 14:30,9/12/09,MobileBooth West (MBY),MobileBooth West,Paonia Public Library,Paonia,CO,81428.0,...,NaN,Spanish,NaN,NaN,Childcare\n\nChildren\n\nTraumatic Memories,accidents\n\nbilingual\n\nbirth of first child...,NaN,all me i olliphant elocution cutaneous or a sa...,NaN,call mi amor Alejandro De La Cruz Munoz arrest...
2,2,MBY005712,9/13/09 17:30,9/13/09,MobileBooth West (MBY),MobileBooth West,Paonia Public Library,Paonia,CO,81428.0,...,NaN,Spanish,NaN,NaN,Anniversaries\n\nChildren\n\nCommunity Busines...,accidents\n\nbaile\n\ncar accident\n\ncemetery...,NaN,it kanonsionni neesnetasis officiousness miste...,NaN,okay mean Hombres es el Amante Samira cincuent...
3,3,MBY005713,9/14/09 9:30,9/14/09,MobileBooth West (MBY),MobileBooth West,Paonia Public Library,Paonia,CO,81428.0,...,NaN,English,NaN,NaN,Birth\n\nBurials\n\nCancer\n\nChildcare\n\nChi...,alcohol\n\nbirth of first child\n\nchemotherap...,NaN,my name is maria humphry i'm twenty six to day...,NaN,my name is Melissa Humphrey I'm 26 today's dat...
4,4,MBY005730,9/18/09 12:30,9/18/09,MobileBooth West (MBY),MobileBooth West,Paonia Public Library,Paonia,CO,81428.0,...,NaN,NaN,NaN,NaN,Changes In Education\n\nCommunity Businesses\n...,anecdotes (humorous but true stories)\n\nappea...,NaN,the woman silence hello my name is alan fucara...,NaN,hello my name is Adolfo Carranza Junior and I'...

In [5]:
transcript_raw.shape

(349, 61)

In [6]:
label_raw = pd.read_csv('Data/labels.csv')
label_raw.columns = label_raw.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
label_raw.head()

,interview_id,interview_date,record_creation_date,venue,address_name,street,city,state_/_province,postal_code,interview_description,...,interviewer_relationship_1_to_storyteller_1,language_1,keywords_-_fixed_subjects,keywords_-_general,label1-fs,label2-fs,label3-fs,label1-g,label2-g,label3-g
0,MBY005668,2009/9/5 11:30,2009/9/5,MobileBooth West (MBY),MobileBooth West,Paonia Public Library,Paonia,CO,81428,Rita Elvia Loya (38) habla con su esposo Omar ...,...,wife,Spanish,Achievements and Awards\n\nChildren\n\nCommuni...,"bilingual\n\nBilingue\n\nChihuahua, Mexico\n\n...",Children,Workday Life,Immigration Stories,social beliefs and practices,ethnicity,memories of former times
1,MBY005712,2009/9/13 17:30,2009/9/13,MobileBooth West (MBY),MobileBooth West,Paonia Public Library,Paonia,CO,81428,Cecilio Montes (46) habla con esposa Bertha Ja...,...,esposa,Spanish,Anniversaries\n\nChildren\n\nCommunity Busines...,accidents\n\nbaile\n\ncar accident\n\ncemetery...,Children,Workday Life,Immigration Stories,memories of former times,spouse,family tradition
2,MBY005713,2009/9/14 9:30,2009/9/14,MobileBooth West (MBY),MobileBooth West,Paonia Public Library,Paonia,CO,81428,Alice talks about childhood. Melissa remember...,...,grandmother,English,Birth\n\nBurials\n\nCancer\n\nChildcare\n\nChi...,alcohol\n\nbirth of first child\n\nchemotherap...,Parents,Children,Marriage,memories of growing up,memories of former times,family tradition
3,MBY005730,2009/9/18 12:30,2009/9/18,MobileBooth West (MBY),MobileBooth West,Paonia Public Library,Paonia,CO,81428,Adolph Carranza Jr. (64) talks with friend Ele...,...,friend,NaN,Changes In Education\n\nCommunity Businesses\n...,anecdotes (humorous but true stories)\n\nappea...,Parents,Schools,Workday Life,memories of growing up,social beliefs and practices,ethnicity
4,MBY005764,2009/9/28 10:30,2009/9/28,MobileBooth West (MBY),MobileBooth West,Public Library,Colorado Springs,CO,80911,Rosana interviews her friend Alberta about her...,...,friend,NaN,Education\n\nAchievements and Awards\n\nArmy\n...,advocacy\n\nadvocate\n\ncollege\n\ndevelopment...,Schools,Children,Workday Life,memories of former times,school day memories,spouse

In [7]:
train_raw = transcript_raw.merge(label_raw, on='interview_id')
train_raw.head()

,unnamed:_0,interview_id,interview_date_x,record_creation_date_x,venue_x,address_name_x,street_x,city_x,state_/_province_x,postal_code_x,...,interviewer_relationship_1_to_storyteller_1_y,language_1_y,keywords_-_fixed_subjects_y,keywords_-_general_y,label1-fs,label2-fs,label3-fs,label1-g,label2-g,label3-g
0,0,MBY005668,9/5/09 11:30,9/5/09,MobileBooth West (MBY),MobileBooth West,Paonia Public Library,Paonia,CO,81428.0,...,wife,Spanish,Achievements and Awards\n\nChildren\n\nCommuni...,"bilingual\n\nBilingue\n\nChihuahua, Mexico\n\n...",Children,Workday Life,Immigration Stories,social beliefs and practices,ethnicity,memories of former times
1,2,MBY005712,9/13/09 17:30,9/13/09,MobileBooth West (MBY),MobileBooth West,Paonia Public Library,Paonia,CO,81428.0,...,esposa,Spanish,Anniversaries\n\nChildren\n\nCommunity Busines...,accidents\n\nbaile\n\ncar accident\n\ncemetery...,Children,Workday Life,Immigration Stories,memories of former times,spouse,family tradition
2,3,MBY005713,9/14/09 9:30,9/14/09,MobileBooth West (MBY),MobileBooth West,Paonia Public Library,Paonia,CO,81428.0,...,grandmother,English,Birth\n\nBurials\n\nCancer\n\nChildcare\n\nChi...,alcohol\n\nbirth of first child\n\nchemotherap...,Parents,Children,Marriage,memories of growing up,memories of former times,family tradition
3,4,MBY005730,9/18/09 12:30,9/18/09,MobileBooth West (MBY),MobileBooth West,Paonia Public Library,Paonia,CO,81428.0,...,friend,NaN,Changes In Education\n\nCommunity Businesses\n...,anecdotes (humorous but true stories)\n\nappea...,Parents,Schools,Workday Life,memories of growing up,social beliefs and practices,ethnicity
4,6,MBY005764,9/28/09 10:30,9/28/09,MobileBooth West (MBY),MobileBooth West,Public Library,Colorado Springs,CO,80911.0,...,friend,NaN,Education\n\nAchievements and Awards\n\nArmy\n...,advocacy\n\nadvocate\n\ncollege\n\ndevelopment...,Schools,Children,Workday Life,memories of former times,school day memories,spouse

In [8]:
train_raw.shape

(332, 84)

In [9]:
train_raw = train_raw[['google_transcript', LABEL]]
train_raw.reset_index(inplace=True, drop=True)
train_raw.head()

,google_transcript,label1-g
0,I mean I'm already so my lawyer Singapore and ...,social beliefs and practices
1,okay mean Hombres es el Amante Samira cincuent...,memories of former times
2,my name is Melissa Humphrey I'm 26 today's dat...,memories of growing up
3,hello my name is Adolfo Carranza Junior and I'...,memories of growing up
4,my number is rational and pony my name is Rose...,memories of former times

In [10]:
for l in np.unique(train_raw[LABEL]):
  print(l)

anecdotes (humorous but true stories)
ethnicity
memories of former times
memories of growing up
social beliefs and practices

In [11]:
train_raw=train_raw.rename(columns = {'google_transcript':'text', LABEL:'label'})
train_raw.head()

,text,label
0,I mean I'm already so my lawyer Singapore and ...,social beliefs and practices
1,okay mean Hombres es el Amante Samira cincuent...,memories of former times
2,my name is Melissa Humphrey I'm 26 today's dat...,memories of growing up
3,hello my name is Adolfo Carranza Junior and I'...,memories of growing up
4,my number is rational and pony my name is Rose...,memories of former times

In [12]:
from sklearn.preprocessing import LabelEncoder

LE = LabelEncoder()
train_raw['label'] = LE.fit_transform(train_raw['label'])
train_raw.head()

                                                text  label
0  I mean I'm already so my lawyer Singapore and ...      4
1  okay mean Hombres es el Amante Samira cincuent...      2
2  my name is Melissa Humphrey I'm 26 today's dat...      3
3  hello my name is Adolfo Carranza Junior and I'...      3
4  my number is rational and pony my name is Rose...      2

In [13]:
num_labels = len(np.unique(train_raw['label']))
num_labels

5

In [14]:
train_r = train_raw.copy()

In [15]:
train_r = train_r.reindex(np.random.permutation(train_r.index))
train_r.head()

                                                  text  label
6    hello I'm Rick Palmer I'm 57 years old today i...      3
307  my name is Linda Vasquez my age is 47 years ol...      3
5    good morning my name is Dorothy Archuleta 871 ...      3
254  my name is Lily Sullivan I am 26 years old tod...      4
289  my name is Steven A Castillo age 56 today's da...      3

In [16]:
import re
def clean_txt(text):
  text = re.sub("'", "",text)
  text=re.sub("(\\W)+"," ",text)    
  return text

In [17]:
train_r['text']  = train_r.text.apply(clean_txt)
train_r.head()

                                                  text  label
6    hello Im Rick Palmer Im 57 years old today is ...      3
307  my name is Linda Vasquez my age is 47 years ol...      3
5    good morning my name is Dorothy Archuleta 871 ...      3
254  my name is Lily Sullivan I am 26 years old tod...      4
289  my name is Steven A Castillo age 56 todays dat...      3

In [18]:
from sklearn.model_selection import train_test_split

train, val = train_test_split(train_r, test_size=0.2)
while(len(np.unique(train.label)) != num_labels):
      train, val = train_test_split(train_r, test_size=0.2)
train.head()

                                                  text  label
107  my name is Cindy Mosqueda Im 29 years old toda...      3
237  hello my name is Ernesto Cassidys Im 25 years ...      3
247  hi Im Angela Rodriguez Im 36 today is April 17...      3
123  hello my name is Jonathan malacarne Im 32 year...      3
81   good afternoon my name is Stephanie Lorraine p...      4

In [19]:
train.reset_index(drop=True, inplace=True)
train.head(2)

                                                text  label
0  my name is Cindy Mosqueda Im 29 years old toda...      3
1  hello my name is Ernesto Cassidys Im 25 years ...      3

In [20]:
val.reset_index(drop=True, inplace=True)
val.head(2)

                                                text  label
0  pronombres Victoria Fernandez tengo ciento sei...      3
1  my name is Loretta Martinez Williams my age is...      3

In [21]:
val.shape, train.shape

((67, 2), (265, 2))

In [22]:
#Installing BERT module
!pip install bert-tensorflow

Requirement already satisfied: bert-tensorflow in c:\users\ej\anaconda3\envs\bert\lib\site-packages (1.0.1)
Requirement already satisfied: six in c:\users\ej\anaconda3\envs\bert\lib\site-packages (from bert-tensorflow) (1.15.0)

In [23]:
#Importing BERT modules
import bert
from bert import run_classifier
from bert import optimization
from bert import tokenization

WARNING:tensorflow:From C:\Users\ej\anaconda3\envs\bert\lib\site-packages\bert\optimization.py:87: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [24]:
# Set the output directory for saving model file
OUTPUT_DIR = './bert_output/'

#@markdown Whether or not to clear/delete the directory and create a new one
DO_DELETE = True #@param {type:"boolean"}

if DO_DELETE:
  try:
    tf.gfile.DeleteRecursively(OUTPUT_DIR)
  except:
    pass

tf.gfile.MakeDirs(OUTPUT_DIR)
print('***** Model output directory: {} *****'.format(OUTPUT_DIR))

***** Model output directory: ./bert_output/ *****

In [25]:
print("Training Set Shape :", train.shape)
print("Validation Set Shape :", val.shape)
# print("Test Set Shape :", test.shape)

Training Set Shape : (265, 2)
Validation Set Shape : (67, 2)

In [26]:
DATA_COLUMN = 'text'
LABEL_COLUMN = 'label'
# The list containing all the classes (train['SECTION'].unique())
label_list = [x for x in np.unique(train.label)]
label_list

[0, 1, 2, 3, 4]

In [27]:
def get_split(text1):
  l_total = []
  l_parcial = []
  if len(text1.split())//150 >0:
    n = len(text1.split())//150
  else: 
    n = 1
  for w in range(n):
    if w == 0:
      l_parcial = text1.split()[:200]
      l_total.append(" ".join(l_parcial))
    else:
      l_parcial = text1.split()[w*150:w*150 + 200]
      l_total.append(" ".join(l_parcial))
  return l_total

In [28]:
train['text_split'] = train[DATA_COLUMN].apply(get_split)
train.head()

C:\Users\ej\anaconda3\envs\bert\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,text,label,text_split
0,my name is Cindy Mosqueda Im 29 years old toda...,3,[my name is Cindy Mosqueda Im 29 years old tod...
1,hello my name is Ernesto Cassidys Im 25 years ...,3,[hello my name is Ernesto Cassidys Im 25 years...
2,hi Im Angela Rodriguez Im 36 today is April 17...,3,[hi Im Angela Rodriguez Im 36 today is April 1...
3,hello my name is Jonathan malacarne Im 32 year...,3,[hello my name is Jonathan malacarne Im 32 yea...
4,good afternoon my name is Stephanie Lorraine p...,4,[good afternoon my name is Stephanie Lorraine ...

In [29]:
val['text_split'] = val[DATA_COLUMN].apply(get_split)
val.head(2)

C:\Users\ej\anaconda3\envs\bert\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,text,label,text_split
0,pronombres Victoria Fernandez tengo ciento sei...,3,[pronombres Victoria Fernandez tengo ciento se...
1,my name is Loretta Martinez Williams my age is...,3,[my name is Loretta Martinez Williams my age i...

In [30]:
train_l = []
label_l = []
index_l =[]
for idx,row in train.iterrows():
  for l in row['text_split']:
    train_l.append(l)
    label_l.append(row['label'])
    index_l.append(idx)
len(train_l), len(label_l), len(index_l)

(7859, 7859, 7859)

In [31]:
val_l = []
val_label_l = []
val_index_l = []
for idx,row in val.iterrows():
  for l in row['text_split']:
    val_l.append(l)
    val_label_l.append(row['label'])
    val_index_l.append(idx)
len(val_l), len(val_label_l), len(val_index_l)

(1972, 1972, 1972)

In [32]:
train_df = pd.DataFrame({DATA_COLUMN:train_l, LABEL_COLUMN:label_l})
train_df.head()

                                                text  label
0  my name is Cindy Mosqueda Im 29 years old toda...      3
1  I was born in your parents my parents are or w...      3
2  and my mother was living in town so they met b...      3
3  go do you want most of this is what Ive been t...      3
4  me we were so so poor that my mother used to a...      3

In [33]:
val_df = pd.DataFrame({DATA_COLUMN:val_l, LABEL_COLUMN:val_label_l})
val_df.head()

                                                text  label
0  pronombres Victoria Fernandez tengo ciento sei...      3
1  look at your age latterly he on the Nephron go...      3
2  at El Pollo come on okay we will need NES to E...      3
3  safe and Jose Casado because I dont even matri...      3
4  staff we must we must we must have a Tomar fot...      3

In [34]:
train_InputExamples = train_df.apply(lambda x: bert.run_classifier.InputExample(guid=None,
                                                                   text_a = x[DATA_COLUMN], 
                                                                   text_b = None, 
                                                                   label = x[LABEL_COLUMN]), axis = 1)

val_InputExamples = val_df.apply(lambda x: bert.run_classifier.InputExample(guid=None, 
                                                                   text_a = x[DATA_COLUMN], 
                                                                   text_b = None, 
                                                                   label = x[LABEL_COLUMN]), axis = 1)

In [35]:
train_InputExamples

0       <bert.run_classifier.InputExample object at 0x...
1       <bert.run_classifier.InputExample object at 0x...
2       <bert.run_classifier.InputExample object at 0x...
3       <bert.run_classifier.InputExample object at 0x...
4       <bert.run_classifier.InputExample object at 0x...
                              ...
7854    <bert.run_classifier.InputExample object at 0x...
7855    <bert.run_classifier.InputExample object at 0x...
7856    <bert.run_classifier.InputExample object at 0x...
7857    <bert.run_classifier.InputExample object at 0x...
7858    <bert.run_classifier.InputExample object at 0x...
Length: 7859, dtype: object

In [36]:
print("Row 0 - guid of training set : ", train_InputExamples.iloc[0].guid)
print("\n__________\nRow 0 - text_a of training set : ", train_InputExamples.iloc[0].text_a)
print("\n__________\nRow 0 - text_b of training set : ", train_InputExamples.iloc[0].text_b)
print("\n__________\nRow 0 - label of training set : ", train_InputExamples.iloc[0].label)

Row 0 - guid of training set :  None

__________
Row 0 - text_a of training set :  my name is Cindy Mosqueda Im 29 years old today is February 11th 2010 I am in East LA and Im here with my father Carlos Mosqueda my name is Carlo Mosqueda Midas 56 today is February 11th 2010 and we are at East LA and I am with my daughter Cindy muscular all right Dad so I could thank you for agreeing to come and be here with me I wanted to ask you just can you describe you just tell me where youre from like where did you where were you born where did you grow up I was born in Salamanca Guanajuato Mexico I believe I was born in a home and in the house I dont have any recollection of my parents saying that they took me to Any House in the in the hospital or that I was one of the hospital so thats where I was born in your parents my parents are or were they are both deceased rest in peace Bartolo and wanna muscella who did the how long did you live in Salamanca is that where you grew up the whole time until I was age 686 my parents decided to

__________
Row 0 - text_b of training set :  None

__________
Row 0 - label of training set :  3

In [37]:
# This is a path to an uncased (all lowercase) version of BERT
BERT_MODEL_HUB = "https://tfhub.dev/google/bert_uncased_L-12_H-768_A-12/1"

def create_tokenizer_from_hub_module():
  """Get the vocab file and casing info from the Hub module."""
  with tf.Graph().as_default():
    bert_module = hub.Module(BERT_MODEL_HUB)
    tokenization_info = bert_module(signature="tokenization_info", as_dict=True)
    with tf.Session() as sess:
      vocab_file, do_lower_case = sess.run([tokenization_info["vocab_file"],
                                            tokenization_info["do_lower_case"]])
      
  return bert.tokenization.FullTokenizer(
      vocab_file=vocab_file, do_lower_case=do_lower_case)

tokenizer = create_tokenizer_from_hub_module()

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

WARNING:tensorflow:From C:\Users\ej\anaconda3\envs\bert\lib\site-packages\bert\tokenization.py:125: The name tf.gfile.GFile is deprecated. Please use tf.io.gfile.GFile instead.

WARNING:tensorflow:From C:\Users\ej\anaconda3\envs\bert\lib\site-packages\bert\tokenization.py:125: The name tf.gfile.GFile is deprecated. Please use tf.io.gfile.GFile instead.

In [38]:
len(tokenizer.vocab.keys())

30522

In [39]:
#Here is what the tokenised sample of the first training set observation looks like
print(tokenizer.tokenize(train_InputExamples.iloc[0].text_a))

['my', 'name', 'is', 'cindy', 'mosque', '##da', 'im', '29', 'years', 'old', 'today', 'is', 'february', '11th', '2010', 'i', 'am', 'in', 'east', 'la', 'and', 'im', 'here', 'with', 'my', 'father', 'carlos', 'mosque', '##da', 'my', 'name', 'is', 'carlo', 'mosque', '##da', 'mid', '##as', '56', 'today', 'is', 'february', '11th', '2010', 'and', 'we', 'are', 'at', 'east', 'la', 'and', 'i', 'am', 'with', 'my', 'daughter', 'cindy', 'muscular', 'all', 'right', 'dad', 'so', 'i', 'could', 'thank', 'you', 'for', 'agreeing', 'to', 'come', 'and', 'be', 'here', 'with', 'me', 'i', 'wanted', 'to', 'ask', 'you', 'just', 'can', 'you', 'describe', 'you', 'just', 'tell', 'me', 'where', 'your', '##e', 'from', 'like', 'where', 'did', 'you', 'where', 'were', 'you', 'born', 'where', 'did', 'you', 'grow', 'up', 'i', 'was', 'born', 'in', 'salamanca', 'gu', '##ana', '##ju', '##ato', 'mexico', 'i', 'believe', 'i', 'was', 'born', 'in', 'a', 'home', 'and', 'in', 'the', 'house', 'i', 'don', '##t', 'have', 'any', 'rec', '##oll', '##ection', 'of', 'my', 'parents', 'saying', 'that', 'they', 'took', 'me', 'to', 'any', 'house', 'in', 'the', 'in', 'the', 'hospital', 'or', 'that', 'i', 'was', 'one', 'of', 'the', 'hospital', 'so', 'that', '##s', 'where', 'i', 'was', 'born', 'in', 'your', 'parents', 'my', 'parents', 'are', 'or', 'were', 'they', 'are', 'both', 'deceased', 'rest', 'in', 'peace', 'bart', '##olo', 'and', 'wanna', 'mu', '##sc', '##ella', 'who', 'did', 'the', 'how', 'long', 'did', 'you', 'live', 'in', 'salamanca', 'is', 'that', 'where', 'you', 'grew', 'up', 'the', 'whole', 'time', 'until', 'i', 'was', 'age', '68', '##6', 'my', 'parents', 'decided', 'to']

In [40]:
MAX_SEQ_LENGTH = 200

In [41]:
# Convert our train and validation features to InputFeatures that BERT understands.
train_features = bert.run_classifier.convert_examples_to_features(train_InputExamples, label_list, MAX_SEQ_LENGTH, tokenizer)

val_features = bert.run_classifier.convert_examples_to_features(val_InputExamples, label_list, MAX_SEQ_LENGTH, tokenizer)

WARNING:tensorflow:From C:\Users\ej\anaconda3\envs\bert\lib\site-packages\bert\run_classifier.py:774: The name tf.logging.info is deprecated. Please use tf.compat.v1.logging.info instead.

WARNING:tensorflow:From C:\Users\ej\anaconda3\envs\bert\lib\site-packages\bert\run_classifier.py:774: The name tf.logging.info is deprecated. Please use tf.compat.v1.logging.info instead.

INFO:tensorflow:Writing example 0 of 7859

INFO:tensorflow:Writing example 0 of 7859

INFO:tensorflow:*** Example ***

INFO:tensorflow:*** Example ***

INFO:tensorflow:guid: None

INFO:tensorflow:guid: None

INFO:tensorflow:tokens: [CLS] my name is cindy mosque ##da im 29 years old today is february 11th 2010 i am in east la and im here with my father carlos mosque ##da my name is carlo mosque ##da mid ##as 56 today is february 11th 2010 and we are at east la and i am with my daughter cindy muscular all right dad so i could thank you for agreeing to come and be here with me i wanted to ask you just can you describe you just tell me where your ##e from like where did you where were you born where did you grow up i was born in salamanca gu ##ana ##ju ##ato mexico i believe i was born in a home and in the house i don ##t have any rec ##oll ##ection of my parents saying that they took me to any house in the in the hospital or that i was one of the hospital so that ##s where i was born in your parents my parents are or were they are both deceased rest in peace bart ##olo and wanna mu ##sc ##ella who did the how long did you live in salamanca is [SEP]

INFO:tensorflow:tokens: [CLS] my name is cindy mosque ##da im 29 years old today is february 11th 2010 i am in east la and im here with my father carlos mosque ##da my name is carlo mosque ##da mid ##as 56 today is february 11th 2010 and we are at east la and i am with my daughter cindy muscular all right dad so i could thank you for agreeing to come and be here with me i wanted to ask you just can you describe you just tell me where your ##e from like where did you where were you born where did you grow up i was born in salamanca gu ##ana ##ju ##ato mexico i believe i was born in a home and in the house i don ##t have any rec ##oll ##ection of my parents saying that they took me to any house in the in the hospital or that i was one of the hospital so that ##s where i was born in your parents my parents are or were they are both deceased rest in peace bart ##olo and wanna mu ##sc ##ella who did the how long did you live in salamanca is [SEP]

INFO:tensorflow:input_ids: 101 2026 2171 2003 15837 8806 2850 10047 2756 2086 2214 2651 2003 2337 6252 2230 1045 2572 1999 2264 2474 1998 10047 2182 2007 2026 2269 5828 8806 2850 2026 2171 2003 9758 8806 2850 3054 3022 5179 2651 2003 2337 6252 2230 1998 2057 2024 2012 2264 2474 1998 1045 2572 2007 2026 2684 15837 13472 2035 2157 3611 2061 1045 2071 4067 2017 2005 16191 2000 2272 1998 2022 2182 2007 2033 1045 2359 2000 3198 2017 2074 2064 2017 6235 2017 2074 2425 2033 2073 2115 2063 2013 2066 2073 2106 2017 2073 2020 2017 2141 2073 2106 2017 4982 2039 1045 2001 2141 1999 29608 19739 5162 9103 10610 3290 1045 2903 1045 2001 2141 1999 1037 2188 1998 1999 1996 2160 1045 2123 2102 2031 2151 28667 14511 18491 1997 2026 3008 3038 2008 2027 2165 2033 2000 2151 2160 1999 1996 1999 1996 2902 2030 2008 1045 2001 2028 1997 1996 2902 2061 2008 2015 2073 1045 2001 2141 1999 2115 3008 2026 3008 2024 2030 2020 2027 2024 2119 10181 2717 1999 3521 12075 12898 1998 10587 14163 11020 8411 2040 2106 1996 2129 2146 2106 2017 2444 1999 29608 2003 102

INFO:tensorflow:input_ids: 101 2026 2171 2003 15837 8806 2850 10047 2756 2086 2214 2651 2003 2337 6252 2230 1045 2572 1999 2264 2474 1998 10047 2182 2007 2026 2269 5828 8806 2850 2026 2171 2003 9758 8806 2850 3054 3022 5179 2651 2003 2337 6252 2230 1998 2057 2024 2012 2264 2474 1998 1045 2572 2007 2026 2684 15837 13472 2035 2157 3611 2061 1045 2071 4067 2017 2005 16191 2000 2272 1998 2022 2182 2007 2033 1045 2359 2000 3198 2017 2074 2064 2017 6235 2017 2074 2425 2033 2073 2115 2063 2013 2066 2073 2106 2017 2073 2020 2017 2141 2073 2106 2017 4982 2039 1045 2001 2141 1999 29608 19739 5162 9103 10610 3290 1045 2903 1045 2001 2141 1999 1037 2188 1998 1999 1996 2160 1045 2123 2102 2031 2151 28667 14511 18491 1997 2026 3008 3038 2008 2027 2165 2033 2000 2151 2160 1999 1996 1999 1996 2902 2030 2008 1045 2001 2028 1997 1996 2902 2061 2008 2015 2073 1045 2001 2141 1999 2115 3008 2026 3008 2024 2030 2020 2027 2024 2119 10181 2717 1999 3521 12075 12898 1998 10587 14163 11020 8411 2040 2106 1996 2129 2146 2106 2017 2444 1999 29608 2003 102

INFO:tensorflow:input_mask: 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1

INFO:tensorflow:input_mask: 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1

INFO:tensorflow:segment_ids: 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

INFO:tensorflow:segment_ids: 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

INFO:tensorflow:label: 3 (id = 3)

INFO:tensorflow:label: 3 (id = 3)

INFO:tensorflow:*** Example ***

INFO:tensorflow:*** Example ***

INFO:tensorflow:guid: None

INFO:tensorflow:guid: None

INFO:tensorflow:tokens: [CLS] i was born in your parents my parents are or were they are both deceased rest in peace bart ##olo and wanna mu ##sc ##ella who did the how long did you live in salamanca is that where you grew up the whole time until i was age 68 ##6 my parents decided to im ##mi ##grate to the united states and that ##s how i was about six years old when we came here when your parents are whole family everybody we are eight siblings i have five sisters and two brothers and mom and dad we all came together same time and where did you first go to do you remember what it was like when you left them on college what they told you what what happened with grandpa and grandma doing southern manga do you remember what my father was from the farming industry he was he used to live in on rancho and my mother was living in town so they met because my dad used to have to go to town from time to time and that ##s how they met he wasn ##t very well liked of course because he was [SEP]

INFO:tensorflow:tokens: [CLS] i was born in your parents my parents are or were they are both deceased rest in peace bart ##olo and wanna mu ##sc ##ella who did the how long did you live in salamanca is that where you grew up the whole time until i was age 68 ##6 my parents decided to im ##mi ##grate to the united states and that ##s how i was about six years old when we came here when your parents are whole family everybody we are eight siblings i have five sisters and two brothers and mom and dad we all came together same time and where did you first go to do you remember what it was like when you left them on college what they told you what what happened with grandpa and grandma doing southern manga do you remember what my father was from the farming industry he was he used to live in on rancho and my mother was living in town so they met because my dad used to have to go to town from time to time and that ##s how they met he wasn ##t very well liked of course because he was [SEP]

INFO:tensorflow:input_ids: 101 1045 2001 2141 1999 2115 3008 2026 3008 2024 2030 2020 2027 2024 2119 10181 2717 1999 3521 12075 12898 1998 10587 14163 11020 8411 2040 2106 1996 2129 2146 2106 2017 2444 1999 29608 2003 2008 2073 2017 3473 2039 1996 2878 2051 2127 1045 2001 2287 6273 2575 2026 3008 2787 2000 10047 4328 22780 2000 1996 2142 2163 1998 2008 2015 2129 1045 2001 2055 2416 2086 2214 2043 2057 2234 2182 2043 2115 3008 2024 2878 2155 7955 2057 2024 2809 9504 1045 2031 2274 5208 1998 2048 3428 1998 3566 1998 3611 2057 2035 2234 2362 2168 2051 1998 2073 2106 2017 2034 2175 2000 2079 2017 3342 2054 2009 2001 2066 2043 2017 2187 2068 2006 2267 2054 2027 2409 2017 2054 2054 3047 2007 15310 1998 13055 2725 2670 8952 2079 2017 3342 2054 2026 2269 2001 2013 1996 7876 3068 2002 2001 2002 2109 2000 2444 1999 2006 18123 1998 2026 2388 2001 2542 1999 2237 2061 2027 2777 2138 2026 3611 2109 2000 2031 2000 2175 2000 2237 2013 2051 2000 2051 1998 2008 2015 2129 2027 2777 2002 2347 2102 2200 2092 4669 1997 2607 2138 2002 2001 102

INFO:tensorflow:input_ids: 101 1045 2001 2141 1999 2115 3008 2026 3008 2024 2030 2020 2027 2024 2119 10181 2717 1999 3521 12075 12898 1998 10587 14163 11020 8411 2040 2106 1996 2129 2146 2106 2017 2444 1999 29608 2003 2008 2073 2017 3473 2039 1996 2878 2051 2127 1045 2001 2287 6273 2575 2026 3008 2787 2000 10047 4328 22780 2000 1996 2142 2163 1998 2008 2015 2129 1045 2001 2055 2416 2086 2214 2043 2057 2234 2182 2043 2115 3008 2024 2878 2155 7955 2057 2024 2809 9504 1045 2031 2274 5208 1998 2048 3428 1998 3566 1998 3611 2057 2035 2234 2362 2168 2051 1998 2073 2106 2017 2034 2175 2000 2079 2017 3342 2054 2009 2001 2066 2043 2017 2187 2068 2006 2267 2054 2027 2409 2017 2054 2054 3047 2007 15310 1998 13055 2725 2670 8952 2079 2017 3342 2054 2026 2269 2001 2013 1996 7876 3068 2002 2001 2002 2109 2000 2444 1999 2006 18123 1998 2026 2388 2001 2542 1999 2237 2061 2027 2777 2138 2026 3611 2109 2000 2031 2000 2175 2000 2237 2013 2051 2000 2051 1998 2008 2015 2129 2027 2777 2002 2347 2102 2200 2092 4669 1997 2607 2138 2002 2001 102

INFO:tensorflow:input_mask: 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1

INFO:tensorflow:input_mask: 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1

INFO:tensorflow:segment_ids: 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

INFO:tensorflow:segment_ids: 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

INFO:tensorflow:label: 3 (id = 3)

INFO:tensorflow:label: 3 (id = 3)

INFO:tensorflow:*** Example ***

INFO:tensorflow:*** Example ***

INFO:tensorflow:guid: None

INFO:tensorflow:guid: None

INFO:tensorflow:tokens: [CLS] and my mother was living in town so they met because my dad used to have to go to town from time to time and that ##s how they met he wasn ##t very well liked of course because he was from the el rancho and my mother falls from the town so there were people that didn ##t like him these to throw rocks at his feet trying to pick fights nevertheless that they got married and they had us and decided to move on but my dad at one time worked in the can ##nery the fish my mother that i know of never worked outside of the home she did work as a seam ##st ##ress she was very good at it but she did that pretty much at home but i know she never worked outside of the home so you went from salamanca did you guys drive lam ##onic ##a to where ##d you go do you want most of this is what iv ##e been told because i don ##t remember everything tonight so we we road by bus or train to pie ##dra ##s ne ##gra ##s why is it on [SEP]

INFO:tensorflow:tokens: [CLS] and my mother was living in town so they met because my dad used to have to go to town from time to time and that ##s how they met he wasn ##t very well liked of course because he was from the el rancho and my mother falls from the town so there were people that didn ##t like him these to throw rocks at his feet trying to pick fights nevertheless that they got married and they had us and decided to move on but my dad at one time worked in the can ##nery the fish my mother that i know of never worked outside of the home she did work as a seam ##st ##ress she was very good at it but she did that pretty much at home but i know she never worked outside of the home so you went from salamanca did you guys drive lam ##onic ##a to where ##d you go do you want most of this is what iv ##e been told because i don ##t remember everything tonight so we we road by bus or train to pie ##dra ##s ne ##gra ##s why is it on [SEP]

INFO:tensorflow:input_ids: 101 1998 2026 2388 2001 2542 1999 2237 2061 2027 2777 2138 2026 3611 2109 2000 2031 2000 2175 2000 2237 2013 2051 2000 2051 1998 2008 2015 2129 2027 2777 2002 2347 2102 2200 2092 4669 1997 2607 2138 2002 2001 2013 1996 3449 18123 1998 2026 2388 4212 2013 1996 2237 2061 2045 2020 2111 2008 2134 2102 2066 2032 2122 2000 5466 5749 2012 2010 2519 2667 2000 4060 9590 6600 2008 2027 2288 2496 1998 2027 2018 2149 1998 2787 2000 2693 2006 2021 2026 3611 2012 2028 2051 2499 1999 1996 2064 27415 1996 3869 2026 2388 2008 1045 2113 1997 2196 2499 2648 1997 1996 2188 2016 2106 2147 2004 1037 25180 3367 8303 2016 2001 2200 2204 2012 2009 2021 2016 2106 2008 3492 2172 2012 2188 2021 1045 2113 2016 2196 2499 2648 1997 1996 2188 2061 2017 2253 2013 29608 2106 2017 4364 3298 16983 12356 2050 2000 2073 2094 2017 2175 2079 2017 2215 2087 1997 2023 2003 2054 4921 2063 2042 2409 2138 1045 2123 2102 3342 2673 3892 2061 2057 2057 2346 2011 3902 2030 3345 2000 11345 7265 2015 11265 17643 2015 2339 2003 2009 2006 102

INFO:tensorflow:input_ids: 101 1998 2026 2388 2001 2542 1999 2237 2061 2027 2777 2138 2026 3611 2109 2000 2031 2000 2175 2000 2237 2013 2051 2000 2051 1998 2008 2015 2129 2027 2777 2002 2347 2102 2200 2092 4669 1997 2607 2138 2002 2001 2013 1996 3449 18123 1998 2026 2388 4212 2013 1996 2237 2061 2045 2020 2111 2008 2134 2102 2066 2032 2122 2000 5466 5749 2012 2010 2519 2667 2000 4060 9590 6600 2008 2027 2288 2496 1998 2027 2018 2149 1998 2787 2000 2693 2006 2021 2026 3611 2012 2028 2051 2499 1999 1996 2064 27415 1996 3869 2026 2388 2008 1045 2113 1997 2196 2499 2648 1997 1996 2188 2016 2106 2147 2004 1037 25180 3367 8303 2016 2001 2200 2204 2012 2009 2021 2016 2106 2008 3492 2172 2012 2188 2021 1045 2113 2016 2196 2499 2648 1997 1996 2188 2061 2017 2253 2013 29608 2106 2017 4364 3298 16983 12356 2050 2000 2073 2094 2017 2175 2079 2017 2215 2087 1997 2023 2003 2054 4921 2063 2042 2409 2138 1045 2123 2102 3342 2673 3892 2061 2057 2057 2346 2011 3902 2030 3345 2000 11345 7265 2015 11265 17643 2015 2339 2003 2009 2006 102

INFO:tensorflow:input_mask: 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1

INFO:tensorflow:input_mask: 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1

INFO:tensorflow:segment_ids: 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

INFO:tensorflow:segment_ids: 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

INFO:tensorflow:label: 3 (id = 3)

INFO:tensorflow:label: 3 (id = 3)

INFO:tensorflow:*** Example ***

INFO:tensorflow:*** Example ***

INFO:tensorflow:guid: None

INFO:tensorflow:guid: None

INFO:tensorflow:tokens: [CLS] go do you want most of this is what iv ##e been told because i don ##t remember everything tonight so we we road by bus or train to pie ##dra ##s ne ##gra ##s why is it on the border on the border border town of get that iv ##e ni ##gga ##s and we cross our border and and we cross that browns ##ville texas and we lived in texas for about 3 years in a dairy farm who is that like it was exciting it was im going to go back a little bit because because i think this is important my parents didn ##t have anything they came from the known to the unknown and they left everything i decided to take a big big huge risk on airline and when they moved course they didn ##t have any money so when were in the border town in mexico i recall that my my mother used to ask me we were so so poor that my mother used to ask me to go go see dad cu ##z my dad work at a gas station and to go see him to see if he [SEP]

INFO:tensorflow:tokens: [CLS] go do you want most of this is what iv ##e been told because i don ##t remember everything tonight so we we road by bus or train to pie ##dra ##s ne ##gra ##s why is it on the border on the border border town of get that iv ##e ni ##gga ##s and we cross our border and and we cross that browns ##ville texas and we lived in texas for about 3 years in a dairy farm who is that like it was exciting it was im going to go back a little bit because because i think this is important my parents didn ##t have anything they came from the known to the unknown and they left everything i decided to take a big big huge risk on airline and when they moved course they didn ##t have any money so when were in the border town in mexico i recall that my my mother used to ask me we were so so poor that my mother used to ask me to go go see dad cu ##z my dad work at a gas station and to go see him to see if he [SEP]

INFO:tensorflow:input_ids: 101 2175 2079 2017 2215 2087 1997 2023 2003 2054 4921 2063 2042 2409 2138 1045 2123 2102 3342 2673 3892 2061 2057 2057 2346 2011 3902 2030 3345 2000 11345 7265 2015 11265 17643 2015 2339 2003 2009 2006 1996 3675 2006 1996 3675 3675 2237 1997 2131 2008 4921 2063 9152 23033 2015 1998 2057 2892 2256 3675 1998 1998 2057 2892 2008 13240 3077 3146 1998 2057 2973 1999 3146 2005 2055 1017 2086 1999 1037 11825 3888 2040 2003 2008 2066 2009 2001 10990 2009 2001 10047 2183 2000 2175 2067 1037 2210 2978 2138 2138 1045 2228 2023 2003 2590 2026 3008 2134 2102 2031 2505 2027 2234 2013 1996 2124 2000 1996 4242 1998 2027 2187 2673 1045 2787 2000 2202 1037 2502 2502 4121 3891 2006 8582 1998 2043 2027 2333 2607 2027 2134 2102 2031 2151 2769 2061 2043 2020 1999 1996 3675 2237 1999 3290 1045 9131 2008 2026 2026 2388 2109 2000 3198 2033 2057 2020 2061 2061 3532 2008 2026 2388 2109 2000 3198 2033 2000 2175 2175 2156 3611 12731 2480 2026 3611 2147 2012 1037 3806 2276 1998 2000 2175 2156 2032 2000 2156 2065 2002 102

INFO:tensorflow:input_ids: 101 2175 2079 2017 2215 2087 1997 2023 2003 2054 4921 2063 2042 2409 2138 1045 2123 2102 3342 2673 3892 2061 2057 2057 2346 2011 3902 2030 3345 2000 11345 7265 2015 11265 17643 2015 2339 2003 2009 2006 1996 3675 2006 1996 3675 3675 2237 1997 2131 2008 4921 2063 9152 23033 2015 1998 2057 2892 2256 3675 1998 1998 2057 2892 2008 13240 3077 3146 1998 2057 2973 1999 3146 2005 2055 1017 2086 1999 1037 11825 3888 2040 2003 2008 2066 2009 2001 10990 2009 2001 10047 2183 2000 2175 2067 1037 2210 2978 2138 2138 1045 2228 2023 2003 2590 2026 3008 2134 2102 2031 2505 2027 2234 2013 1996 2124 2000 1996 4242 1998 2027 2187 2673 1045 2787 2000 2202 1037 2502 2502 4121 3891 2006 8582 1998 2043 2027 2333 2607 2027 2134 2102 2031 2151 2769 2061 2043 2020 1999 1996 3675 2237 1999 3290 1045 9131 2008 2026 2026 2388 2109 2000 3198 2033 2057 2020 2061 2061 3532 2008 2026 2388 2109 2000 3198 2033 2000 2175 2175 2156 3611 12731 2480 2026 3611 2147 2012 1037 3806 2276 1998 2000 2175 2156 2032 2000 2156 2065 2002 102

INFO:tensorflow:input_mask: 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1

INFO:tensorflow:input_mask: 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1

INFO:tensorflow:segment_ids: 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

INFO:tensorflow:segment_ids: 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

INFO:tensorflow:label: 3 (id = 3)

INFO:tensorflow:label: 3 (id = 3)

INFO:tensorflow:*** Example ***

INFO:tensorflow:*** Example ***

INFO:tensorflow:guid: None

INFO:tensorflow:guid: None

INFO:tensorflow:tokens: [CLS] me we were so so poor that my mother used to ask me to go go see dad cu ##z my dad work at a gas station and to go see him to see if he had money to be able to buy tor ##till ##as for the day and she i remember that very vivid ##ly it wasn ##t very far cu ##z i don ##t remember how far it took me to get there but i do remember that happening and my dad was up very blessed we are very blessed and my dad met somebody that happened to be in the military that used to come in as a client and that person was the one that actually helped them start the transition to get us immigrated into the united states it was actually a client of the service station that came in that open the doors and we live in a dairy farm the dairy farm was one of the most wonderful experiences iv ##e ever had in my life because to this day to this day i will go out of my way and she know where our office is at to drive [SEP]

INFO:tensorflow:tokens: [CLS] me we were so so poor that my mother used to ask me to go go see dad cu ##z my dad work at a gas station and to go see him to see if he had money to be able to buy tor ##till ##as for the day and she i remember that very vivid ##ly it wasn ##t very far cu ##z i don ##t remember how far it took me to get there but i do remember that happening and my dad was up very blessed we are very blessed and my dad met somebody that happened to be in the military that used to come in as a client and that person was the one that actually helped them start the transition to get us immigrated into the united states it was actually a client of the service station that came in that open the doors and we live in a dairy farm the dairy farm was one of the most wonderful experiences iv ##e ever had in my life because to this day to this day i will go out of my way and she know where our office is at to drive [SEP]

INFO:tensorflow:input_ids: 101 2033 2057 2020 2061 2061 3532 2008 2026 2388 2109 2000 3198 2033 2000 2175 2175 2156 3611 12731 2480 2026 3611 2147 2012 1037 3806 2276 1998 2000 2175 2156 2032 2000 2156 2065 2002 2018 2769 2000 2022 2583 2000 4965 17153 28345 3022 2005 1996 2154 1998 2016 1045 3342 2008 2200 14954 2135 2009 2347 2102 2200 2521 12731 2480 1045 2123 2102 3342 2129 2521 2009 2165 2033 2000 2131 2045 2021 1045 2079 3342 2008 6230 1998 2026 3611 2001 2039 2200 10190 2057 2024 2200 10190 1998 2026 3611 2777 8307 2008 3047 2000 2022 1999 1996 2510 2008 2109 2000 2272 1999 2004 1037 7396 1998 2008 2711 2001 1996 2028 2008 2941 3271 2068 2707 1996 6653 2000 2131 2149 17352 2046 1996 2142 2163 2009 2001 2941 1037 7396 1997 1996 2326 2276 2008 2234 1999 2008 2330 1996 4303 1998 2057 2444 1999 1037 11825 3888 1996 11825 3888 2001 2028 1997 1996 2087 6919 6322 4921 2063 2412 2018 1999 2026 2166 2138 2000 2023 2154 2000 2023 2154 1045 2097 2175 2041 1997 2026 2126 1998 2016 2113 2073 2256 2436 2003 2012 2000 3298 102

INFO:tensorflow:input_ids: 101 2033 2057 2020 2061 2061 3532 2008 2026 2388 2109 2000 3198 2033 2000 2175 2175 2156 3611 12731 2480 2026 3611 2147 2012 1037 3806 2276 1998 2000 2175 2156 2032 2000 2156 2065 2002 2018 2769 2000 2022 2583 2000 4965 17153 28345 3022 2005 1996 2154 1998 2016 1045 3342 2008 2200 14954 2135 2009 2347 2102 2200 2521 12731 2480 1045 2123 2102 3342 2129 2521 2009 2165 2033 2000 2131 2045 2021 1045 2079 3342 2008 6230 1998 2026 3611 2001 2039 2200 10190 2057 2024 2200 10190 1998 2026 3611 2777 8307 2008 3047 2000 2022 1999 1996 2510 2008 2109 2000 2272 1999 2004 1037 7396 1998 2008 2711 2001 1996 2028 2008 2941 3271 2068 2707 1996 6653 2000 2131 2149 17352 2046 1996 2142 2163 2009 2001 2941 1037 7396 1997 1996 2326 2276 2008 2234 1999 2008 2330 1996 4303 1998 2057 2444 1999 1037 11825 3888 1996 11825 3888 2001 2028 1997 1996 2087 6919 6322 4921 2063 2412 2018 1999 2026 2166 2138 2000 2023 2154 2000 2023 2154 1045 2097 2175 2041 1997 2026 2126 1998 2016 2113 2073 2256 2436 2003 2012 2000 3298 102

INFO:tensorflow:input_mask: 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1

INFO:tensorflow:input_mask: 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1

INFO:tensorflow:segment_ids: 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

INFO:tensorflow:segment_ids: 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

INFO:tensorflow:label: 3 (id = 3)

INFO:tensorflow:label: 3 (id = 3)

INFO:tensorflow:Writing example 0 of 1972

INFO:tensorflow:Writing example 0 of 1972

INFO:tensorflow:*** Example ***

INFO:tensorflow:*** Example ***

INFO:tensorflow:guid: None

INFO:tensorflow:guid: None

INFO:tensorflow:tokens: [CLS] pro ##no ##mbre ##s victoria fernandez ten ##go ci ##ent ##o se ##is an ##os the weather is los angeles historical norma co ##sm ##e you ##ll say norma fernandez ten ##go windy city an ##os au ##reus and doesn ##t appear better than those means yes yes i most analysts of the los angeles yes call me mama victoria fernandez gr ##ac ##ias mama por la pu ##lc ##ine ##lla mtv start a ke ##to ser ##est ##o phone tie ##mp ##o in a mosquito i said the broncos but the mint in them in a conversation somewhere to be the low low key master to cal ##ipe ##r look it up on there in nc ##t plus she seemed all their groin are planning to come over to be done to pueblo cu ##ales son tu ##s me ##jo ##res memorial si ##a read my ho ##ros ##cope memo ##rio ##us to spawn the way daniel cable cole ##gio bo ##scan mika ##sa 3 4 million we will need time and omar ##osa these the settlement emily to ##tem yank ##el super ##co ##pa much ##o por nos ##ot ##ros por el pri ##mos silver ##ado [SEP]

INFO:tensorflow:tokens: [CLS] pro ##no ##mbre ##s victoria fernandez ten ##go ci ##ent ##o se ##is an ##os the weather is los angeles historical norma co ##sm ##e you ##ll say norma fernandez ten ##go windy city an ##os au ##reus and doesn ##t appear better than those means yes yes i most analysts of the los angeles yes call me mama victoria fernandez gr ##ac ##ias mama por la pu ##lc ##ine ##lla mtv start a ke ##to ser ##est ##o phone tie ##mp ##o in a mosquito i said the broncos but the mint in them in a conversation somewhere to be the low low key master to cal ##ipe ##r look it up on there in nc ##t plus she seemed all their groin are planning to come over to be done to pueblo cu ##ales son tu ##s me ##jo ##res memorial si ##a read my ho ##ros ##cope memo ##rio ##us to spawn the way daniel cable cole ##gio bo ##scan mika ##sa 3 4 million we will need time and omar ##osa these the settlement emily to ##tem yank ##el super ##co ##pa much ##o por nos ##ot ##ros por el pri ##mos silver ##ado [SEP]

INFO:tensorflow:input_ids: 101 4013 3630 19908 2015 3848 12023 2702 3995 25022 4765 2080 7367 2483 2019 2891 1996 4633 2003 3050 3349 3439 20692 2522 6491 2063 2017 3363 2360 20692 12023 2702 3995 27370 2103 2019 2891 8740 23446 1998 2987 2102 3711 2488 2084 2216 2965 2748 2748 1045 2087 18288 1997 1996 3050 3349 2748 2655 2033 9588 3848 12023 24665 6305 7951 9588 18499 2474 16405 15472 3170 4571 8692 2707 1037 17710 3406 14262 4355 2080 3042 5495 8737 2080 1999 1037 22529 1045 2056 1996 14169 2021 1996 12927 1999 2068 1999 1037 4512 4873 2000 2022 1996 2659 2659 3145 3040 2000 10250 15457 2099 2298 2009 2039 2006 2045 1999 13316 2102 4606 2016 2790 2035 2037 20092 2024 4041 2000 2272 2058 2000 2022 2589 2000 18273 12731 23266 2365 10722 2015 2033 5558 6072 3986 9033 2050 3191 2026 7570 7352 16186 24443 9488 2271 2000 25645 1996 2126 3817 5830 5624 11411 8945 29378 27857 3736 1017 1018 2454 2057 2097 2342 2051 1998 13192 8820 2122 1996 4093 6253 2000 18532 23178 2884 3565 3597 4502 2172 2080 18499 16839 4140 7352 18499 3449 26927 15530 3165 9365 102

INFO:tensorflow:input_ids: 101 4013 3630 19908 2015 3848 12023 2702 3995 25022 4765 2080 7367 2483 2019 2891 1996 4633 2003 3050 3349 3439 20692 2522 6491 2063 2017 3363 2360 20692 12023 2702 3995 27370 2103 2019 2891 8740 23446 1998 2987 2102 3711 2488 2084 2216 2965 2748 2748 1045 2087 18288 1997 1996 3050 3349 2748 2655 2033 9588 3848 12023 24665 6305 7951 9588 18499 2474 16405 15472 3170 4571 8692 2707 1037 17710 3406 14262 4355 2080 3042 5495 8737 2080 1999 1037 22529 1045 2056 1996 14169 2021 1996 12927 1999 2068 1999 1037 4512 4873 2000 2022 1996 2659 2659 3145 3040 2000 10250 15457 2099 2298 2009 2039 2006 2045 1999 13316 2102 4606 2016 2790 2035 2037 20092 2024 4041 2000 2272 2058 2000 2022 2589 2000 18273 12731 23266 2365 10722 2015 2033 5558 6072 3986 9033 2050 3191 2026 7570 7352 16186 24443 9488 2271 2000 25645 1996 2126 3817 5830 5624 11411 8945 29378 27857 3736 1017 1018 2454 2057 2097 2342 2051 1998 13192 8820 2122 1996 4093 6253 2000 18532 23178 2884 3565 3597 4502 2172 2080 18499 16839 4140 7352 18499 3449 26927 15530 3165 9365 102

INFO:tensorflow:input_mask: 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1

INFO:tensorflow:input_mask: 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1

INFO:tensorflow:segment_ids: 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

INFO:tensorflow:segment_ids: 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

INFO:tensorflow:label: 3 (id = 3)

INFO:tensorflow:label: 3 (id = 3)

INFO:tensorflow:*** Example ***

INFO:tensorflow:*** Example ***

INFO:tensorflow:guid: None

INFO:tensorflow:guid: None

INFO:tensorflow:tokens: [CLS] look at your age latter ##ly he on the ne ##ph ##ron going to fight for the tournament tomorrow adi ##os mis abu ##eli ##tos es mi fa ##mi ##lia on the presence of pneumonia za ##les where is the staples el ar ##bol de la mis ##ma mu ##jer que limit ##a monica much ##amo ##re he has no cu ##ando tie ##nen los dia ##s de na ##vid ##ad para nos ##ot ##ros so ##mos de tod ##os ce ##le ##bra ##mos la mesa mesa arizona receive para ##iso with japan the loss of your state high school and high school students put on hello kitty music black glasses where to go sis ##ta cab ##all ##os del campo the first time i saw him we wanted toys police okay your ##e on the volume a mi gust ##a much ##o me si ##ent ##o mu ##y fe ##li ##z me si ##ent ##o fe ##li ##z madonna on polo ic ##mp p m see i guess hit me up when you talk unless es ##pan ##ol para para car ##gar co ##sas en la part ##e kathy to ##cco mata los poll ##os lafayette this [SEP]

INFO:tensorflow:tokens: [CLS] look at your age latter ##ly he on the ne ##ph ##ron going to fight for the tournament tomorrow adi ##os mis abu ##eli ##tos es mi fa ##mi ##lia on the presence of pneumonia za ##les where is the staples el ar ##bol de la mis ##ma mu ##jer que limit ##a monica much ##amo ##re he has no cu ##ando tie ##nen los dia ##s de na ##vid ##ad para nos ##ot ##ros so ##mos de tod ##os ce ##le ##bra ##mos la mesa mesa arizona receive para ##iso with japan the loss of your state high school and high school students put on hello kitty music black glasses where to go sis ##ta cab ##all ##os del campo the first time i saw him we wanted toys police okay your ##e on the volume a mi gust ##a much ##o me si ##ent ##o mu ##y fe ##li ##z me si ##ent ##o fe ##li ##z madonna on polo ic ##mp p m see i guess hit me up when you talk unless es ##pan ##ol para para car ##gar co ##sas en la part ##e kathy to ##cco mata los poll ##os lafayette this [SEP]

INFO:tensorflow:input_ids: 101 2298 2012 2115 2287 3732 2135 2002 2006 1996 11265 8458 4948 2183 2000 2954 2005 1996 2977 4826 27133 2891 28616 8273 20806 13122 9686 2771 6904 4328 6632 2006 1996 3739 1997 18583 23564 4244 2073 2003 1996 24533 3449 12098 14956 2139 2474 28616 2863 14163 20009 10861 5787 2050 9018 2172 22591 2890 2002 2038 2053 12731 28574 5495 10224 3050 22939 2015 2139 6583 17258 4215 11498 16839 4140 7352 2061 15530 2139 28681 2891 8292 2571 10024 15530 2474 15797 15797 5334 4374 11498 19565 2007 2900 1996 3279 1997 2115 2110 2152 2082 1998 2152 2082 2493 2404 2006 7592 14433 2189 2304 7877 2073 2000 2175 24761 2696 9298 8095 2891 3972 22339 1996 2034 2051 1045 2387 2032 2057 2359 10899 2610 3100 2115 2063 2006 1996 3872 1037 2771 26903 2050 2172 2080 2033 9033 4765 2080 14163 2100 10768 3669 2480 2033 9033 4765 2080 10768 3669 2480 11284 2006 11037 24582 8737 1052 1049 2156 1045 3984 2718 2033 2039 2043 2017 2831 4983 9686 9739 4747 11498 11498 2482 6843 2522 20939 4372 2474 2112 2063 14986 2000 21408 22640 3050 8554 2891 14425 2023 102

INFO:tensorflow:input_ids: 101 2298 2012 2115 2287 3732 2135 2002 2006 1996 11265 8458 4948 2183 2000 2954 2005 1996 2977 4826 27133 2891 28616 8273 20806 13122 9686 2771 6904 4328 6632 2006 1996 3739 1997 18583 23564 4244 2073 2003 1996 24533 3449 12098 14956 2139 2474 28616 2863 14163 20009 10861 5787 2050 9018 2172 22591 2890 2002 2038 2053 12731 28574 5495 10224 3050 22939 2015 2139 6583 17258 4215 11498 16839 4140 7352 2061 15530 2139 28681 2891 8292 2571 10024 15530 2474 15797 15797 5334 4374 11498 19565 2007 2900 1996 3279 1997 2115 2110 2152 2082 1998 2152 2082 2493 2404 2006 7592 14433 2189 2304 7877 2073 2000 2175 24761 2696 9298 8095 2891 3972 22339 1996 2034 2051 1045 2387 2032 2057 2359 10899 2610 3100 2115 2063 2006 1996 3872 1037 2771 26903 2050 2172 2080 2033 9033 4765 2080 14163 2100 10768 3669 2480 2033 9033 4765 2080 10768 3669 2480 11284 2006 11037 24582 8737 1052 1049 2156 1045 3984 2718 2033 2039 2043 2017 2831 4983 9686 9739 4747 11498 11498 2482 6843 2522 20939 4372 2474 2112 2063 14986 2000 21408 22640 3050 8554 2891 14425 2023 102

INFO:tensorflow:input_mask: 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1

INFO:tensorflow:input_mask: 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1

INFO:tensorflow:segment_ids: 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

INFO:tensorflow:segment_ids: 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

INFO:tensorflow:label: 3 (id = 3)

INFO:tensorflow:label: 3 (id = 3)

INFO:tensorflow:*** Example ***

INFO:tensorflow:*** Example ***

INFO:tensorflow:guid: None

INFO:tensorflow:guid: None

INFO:tensorflow:tokens: [CLS] at el poll ##o come on okay we will need nes to english he was there to conduct a custom message to kit ##a ku monica never attended billy sq ##ui ##er mi gust ##a by much ##o como the memorial spoken can ##no ##lis yes get the memo ##ji side rental ##s hasty made a vehicle matthias he ##iman ##so ##hn ll ##oro ##na rec ##eta ##s but im going to send you a quote mai ##sel a mo ##jit ##o olympia painter start this year he ##pati ##ca mi ##mos ##a me sol ##ito ##s cu ##ales fu ##eron su ##s no ##mbre ##s cu ##anto ##s an ##os est ##u ##vo en ing ##les como se como se con ##oc ##ier ##on do you spell pas ##a cu ##ando ci ##er ##ran maybe i know i know you hate yourself los cr ##ister ##os but yo cr ##eo el go ##bie ##rno que est ##aba en contra de la religion i don ##t think its going to be an angel sister a birthday korean as ##ient ##os bautista ##s en las casa ##s de los mat ##rim ##oni ##os tam ##bie ##n es ##con ##di [SEP]

INFO:tensorflow:tokens: [CLS] at el poll ##o come on okay we will need nes to english he was there to conduct a custom message to kit ##a ku monica never attended billy sq ##ui ##er mi gust ##a by much ##o como the memorial spoken can ##no ##lis yes get the memo ##ji side rental ##s hasty made a vehicle matthias he ##iman ##so ##hn ll ##oro ##na rec ##eta ##s but im going to send you a quote mai ##sel a mo ##jit ##o olympia painter start this year he ##pati ##ca mi ##mos ##a me sol ##ito ##s cu ##ales fu ##eron su ##s no ##mbre ##s cu ##anto ##s an ##os est ##u ##vo en ing ##les como se como se con ##oc ##ier ##on do you spell pas ##a cu ##ando ci ##er ##ran maybe i know i know you hate yourself los cr ##ister ##os but yo cr ##eo el go ##bie ##rno que est ##aba en contra de la religion i don ##t think its going to be an angel sister a birthday korean as ##ient ##os bautista ##s en las casa ##s de los mat ##rim ##oni ##os tam ##bie ##n es ##con ##di [SEP]

INFO:tensorflow:input_ids: 101 2012 3449 8554 2080 2272 2006 3100 2057 2097 2342 24524 2000 2394 2002 2001 2045 2000 6204 1037 7661 4471 2000 8934 2050 13970 9018 2196 3230 5006 5490 10179 2121 2771 26903 2050 2011 2172 2080 18609 1996 3986 5287 2064 3630 6856 2748 2131 1996 24443 4478 2217 12635 2015 27151 2081 1037 4316 17885 2002 18505 6499 7295 2222 14604 2532 28667 12928 2015 2021 10047 2183 2000 4604 2017 1037 14686 14736 11246 1037 9587 18902 2080 17096 5276 2707 2023 2095 2002 24952 3540 2771 15530 2050 2033 14017 9956 2015 12731 23266 11865 26534 10514 2015 2053 19908 2015 12731 21634 2015 2019 2891 9765 2226 6767 4372 13749 4244 18609 7367 18609 7367 9530 10085 3771 2239 2079 2017 6297 14674 2050 12731 28574 25022 2121 5521 2672 1045 2113 1045 2113 2017 5223 4426 3050 13675 12911 2891 2021 10930 13675 8780 3449 2175 11283 19139 10861 9765 19736 4372 24528 2139 2474 4676 1045 2123 2102 2228 2049 2183 2000 2022 2019 4850 2905 1037 5798 4759 2004 11638 2891 27845 2015 4372 5869 14124 2015 2139 3050 13523 20026 10698 2891 17214 11283 2078 9686 8663 4305 102

INFO:tensorflow:input_ids: 101 2012 3449 8554 2080 2272 2006 3100 2057 2097 2342 24524 2000 2394 2002 2001 2045 2000 6204 1037 7661 4471 2000 8934 2050 13970 9018 2196 3230 5006 5490 10179 2121 2771 26903 2050 2011 2172 2080 18609 1996 3986 5287 2064 3630 6856 2748 2131 1996 24443 4478 2217 12635 2015 27151 2081 1037 4316 17885 2002 18505 6499 7295 2222 14604 2532 28667 12928 2015 2021 10047 2183 2000 4604 2017 1037 14686 14736 11246 1037 9587 18902 2080 17096 5276 2707 2023 2095 2002 24952 3540 2771 15530 2050 2033 14017 9956 2015 12731 23266 11865 26534 10514 2015 2053 19908 2015 12731 21634 2015 2019 2891 9765 2226 6767 4372 13749 4244 18609 7367 18609 7367 9530 10085 3771 2239 2079 2017 6297 14674 2050 12731 28574 25022 2121 5521 2672 1045 2113 1045 2113 2017 5223 4426 3050 13675 12911 2891 2021 10930 13675 8780 3449 2175 11283 19139 10861 9765 19736 4372 24528 2139 2474 4676 1045 2123 2102 2228 2049 2183 2000 2022 2019 4850 2905 1037 5798 4759 2004 11638 2891 27845 2015 4372 5869 14124 2015 2139 3050 13523 20026 10698 2891 17214 11283 2078 9686 8663 4305 102

INFO:tensorflow:input_mask: 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1

INFO:tensorflow:input_mask: 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1

INFO:tensorflow:segment_ids: 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

INFO:tensorflow:segment_ids: 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

INFO:tensorflow:label: 3 (id = 3)

INFO:tensorflow:label: 3 (id = 3)

INFO:tensorflow:*** Example ***

INFO:tensorflow:*** Example ***

INFO:tensorflow:guid: None

INFO:tensorflow:guid: None

INFO:tensorflow:tokens: [CLS] safe and jose casa ##do because i don ##t even mat ##rim ##onia ##l boys we will need other quality tango rec ##uer ##do mat ##rim ##onia ##l e ##je ##mp ##los por ##que yo nun ##ca nun ##ca se pe ##lean wander ##mere my name alice lester call dos an ##os de casa ##dos por que ho ##ras del dia prime ##ro de en ##ero de dos mil si ##ete im ##me ##mori ##al don ##t say the narrow is the seal but i think that ##s what im going to say hello to include a headache we must got our sob ##rer ##o be ##be ##mos the assembly room qu ##att ##ro chi ##qui ##to de ser una casa de pu ##ras mu ##jer ##es de ba ##jo in tor ##to ##la im hard to be to see a joke about my uncle is can ##cion ##es del rec ##uer ##do so that was kind of my sob ##re primera can ##cion de des ##pie ##rta rig ##o is got ##cha i mod ##i india maria elena you economist ##a a mexico ja ##lis ##co kit guess well get there with us attack on the bus [SEP]

INFO:tensorflow:tokens: [CLS] safe and jose casa ##do because i don ##t even mat ##rim ##onia ##l boys we will need other quality tango rec ##uer ##do mat ##rim ##onia ##l e ##je ##mp ##los por ##que yo nun ##ca nun ##ca se pe ##lean wander ##mere my name alice lester call dos an ##os de casa ##dos por que ho ##ras del dia prime ##ro de en ##ero de dos mil si ##ete im ##me ##mori ##al don ##t say the narrow is the seal but i think that ##s what im going to say hello to include a headache we must got our sob ##rer ##o be ##be ##mos the assembly room qu ##att ##ro chi ##qui ##to de ser una casa de pu ##ras mu ##jer ##es de ba ##jo in tor ##to ##la im hard to be to see a joke about my uncle is can ##cion ##es del rec ##uer ##do so that was kind of my sob ##re primera can ##cion de des ##pie ##rta rig ##o is got ##cha i mod ##i india maria elena you economist ##a a mexico ja ##lis ##co kit guess well get there with us attack on the bus [SEP]

INFO:tensorflow:input_ids: 101 3647 1998 4560 14124 3527 2138 1045 2123 2102 2130 13523 20026 12488 2140 3337 2057 2097 2342 2060 3737 17609 28667 13094 3527 13523 20026 12488 2140 1041 6460 8737 10483 18499 4226 10930 16634 3540 16634 3540 7367 21877 20898 17677 13759 2026 2171 5650 14131 2655 9998 2019 2891 2139 14124 12269 18499 10861 7570 8180 3972 22939 3539 3217 2139 4372 10624 2139 9998 23689 9033 12870 10047 4168 24610 2389 2123 2102 2360 1996 4867 2003 1996 7744 2021 1045 2228 2008 2015 2054 10047 2183 2000 2360 7592 2000 2421 1037 14978 2057 2442 2288 2256 17540 14544 2080 2022 4783 15530 1996 3320 2282 24209 19321 3217 9610 15549 3406 2139 14262 14477 14124 2139 16405 8180 14163 20009 2229 2139 8670 5558 1999 17153 3406 2721 10047 2524 2000 2022 2000 2156 1037 8257 2055 2026 4470 2003 2064 10446 2229 3972 28667 13094 3527 2061 2008 2001 2785 1997 2026 17540 2890 14837 2064 10446 2139 4078 14756 13320 19838 2080 2003 2288 7507 1045 16913 2072 2634 3814 9060 2017 11708 2050 1037 3290 14855 6856 3597 8934 3984 2092 2131 2045 2007 2149 2886 2006 1996 3902 102

INFO:tensorflow:input_ids: 101 3647 1998 4560 14124 3527 2138 1045 2123 2102 2130 13523 20026 12488 2140 3337 2057 2097 2342 2060 3737 17609 28667 13094 3527 13523 20026 12488 2140 1041 6460 8737 10483 18499 4226 10930 16634 3540 16634 3540 7367 21877 20898 17677 13759 2026 2171 5650 14131 2655 9998 2019 2891 2139 14124 12269 18499 10861 7570 8180 3972 22939 3539 3217 2139 4372 10624 2139 9998 23689 9033 12870 10047 4168 24610 2389 2123 2102 2360 1996 4867 2003 1996 7744 2021 1045 2228 2008 2015 2054 10047 2183 2000 2360 7592 2000 2421 1037 14978 2057 2442 2288 2256 17540 14544 2080 2022 4783 15530 1996 3320 2282 24209 19321 3217 9610 15549 3406 2139 14262 14477 14124 2139 16405 8180 14163 20009 2229 2139 8670 5558 1999 17153 3406 2721 10047 2524 2000 2022 2000 2156 1037 8257 2055 2026 4470 2003 2064 10446 2229 3972 28667 13094 3527 2061 2008 2001 2785 1997 2026 17540 2890 14837 2064 10446 2139 4078 14756 13320 19838 2080 2003 2288 7507 1045 16913 2072 2634 3814 9060 2017 11708 2050 1037 3290 14855 6856 3597 8934 3984 2092 2131 2045 2007 2149 2886 2006 1996 3902 102

INFO:tensorflow:input_mask: 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1

INFO:tensorflow:input_mask: 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1

INFO:tensorflow:segment_ids: 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

INFO:tensorflow:segment_ids: 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

INFO:tensorflow:label: 3 (id = 3)

INFO:tensorflow:label: 3 (id = 3)

INFO:tensorflow:*** Example ***

INFO:tensorflow:*** Example ***

INFO:tensorflow:guid: None

INFO:tensorflow:guid: None

INFO:tensorflow:tokens: [CLS] staff we must we must we must have a tom ##ar f ##oto ##s de jar ##din anita pad ##illa okay ill just get up at super one that ##s over there to experience e a ##qui en los est ##ados un ##ido ##s se como se quit ##a mal ##dic ##ion ep ##ista ##tic americana condom ##inium ##s des por que va ##mos de sept ##ie ##mbre the meaning of a ci ##ent ##o set ##ent ##a uganda famous el consul ##ado bedroom house for sale in plaza de si ##ete me ##ses no pas ##a por ##que en ##ton ##ces por ci ##ent ##o se ##is de ab ##ri ##gos de una fabric ##a de cost ##o de una ga ##rra ##pa ##ta was delaware avenue monte ##sso ##ri in town san diego and they stay rihanna disneyland ##ia is better than ending alan ##dia good morning got to roll home and send you away i just gotta see if i don ##t know what ##s going on near marina del rey de la sen ##ora little joe and the dollar is bang ##o bon ##go in a separate area he persisted mean elizabeth until your [SEP]

INFO:tensorflow:tokens: [CLS] staff we must we must we must have a tom ##ar f ##oto ##s de jar ##din anita pad ##illa okay ill just get up at super one that ##s over there to experience e a ##qui en los est ##ados un ##ido ##s se como se quit ##a mal ##dic ##ion ep ##ista ##tic americana condom ##inium ##s des por que va ##mos de sept ##ie ##mbre the meaning of a ci ##ent ##o set ##ent ##a uganda famous el consul ##ado bedroom house for sale in plaza de si ##ete me ##ses no pas ##a por ##que en ##ton ##ces por ci ##ent ##o se ##is de ab ##ri ##gos de una fabric ##a de cost ##o de una ga ##rra ##pa ##ta was delaware avenue monte ##sso ##ri in town san diego and they stay rihanna disneyland ##ia is better than ending alan ##dia good morning got to roll home and send you away i just gotta see if i don ##t know what ##s going on near marina del rey de la sen ##ora little joe and the dollar is bang ##o bon ##go in a separate area he persisted mean elizabeth until your [SEP]

INFO:tensorflow:input_ids: 101 3095 2057 2442 2057 2442 2057 2442 2031 1037 3419 2906 1042 11439 2015 2139 15723 8718 12918 11687 9386 3100 5665 2074 2131 2039 2012 3565 2028 2008 2015 2058 2045 2000 3325 1041 1037 15549 4372 3050 9765 28118 4895 13820 2015 7367 18609 7367 8046 2050 15451 14808 3258 4958 11921 4588 25988 20910 27585 2015 4078 18499 10861 12436 15530 2139 17419 2666 19908 1996 3574 1997 1037 25022 4765 2080 2275 4765 2050 10031 3297 3449 11801 9365 5010 2160 2005 5096 1999 8232 2139 9033 12870 2033 8583 2053 14674 2050 18499 4226 4372 2669 9623 18499 25022 4765 2080 7367 2483 2139 11113 3089 12333 2139 14477 8313 2050 2139 3465 2080 2139 14477 11721 11335 4502 2696 2001 8452 3927 10125 24137 3089 1999 2237 2624 5277 1998 2027 2994 25439 25104 2401 2003 2488 2084 4566 5070 9032 2204 2851 2288 2000 4897 2188 1998 4604 2017 2185 1045 2074 10657 2156 2065 1045 2123 2102 2113 2054 2015 2183 2006 2379 9985 3972 12569 2139 2474 12411 6525 2210 3533 1998 1996 7922 2003 9748 2080 14753 3995 1999 1037 3584 2181 2002 19035 2812 3870 2127 2115 102

INFO:tensorflow:input_ids: 101 3095 2057 2442 2057 2442 2057 2442 2031 1037 3419 2906 1042 11439 2015 2139 15723 8718 12918 11687 9386 3100 5665 2074 2131 2039 2012 3565 2028 2008 2015 2058 2045 2000 3325 1041 1037 15549 4372 3050 9765 28118 4895 13820 2015 7367 18609 7367 8046 2050 15451 14808 3258 4958 11921 4588 25988 20910 27585 2015 4078 18499 10861 12436 15530 2139 17419 2666 19908 1996 3574 1997 1037 25022 4765 2080 2275 4765 2050 10031 3297 3449 11801 9365 5010 2160 2005 5096 1999 8232 2139 9033 12870 2033 8583 2053 14674 2050 18499 4226 4372 2669 9623 18499 25022 4765 2080 7367 2483 2139 11113 3089 12333 2139 14477 8313 2050 2139 3465 2080 2139 14477 11721 11335 4502 2696 2001 8452 3927 10125 24137 3089 1999 2237 2624 5277 1998 2027 2994 25439 25104 2401 2003 2488 2084 4566 5070 9032 2204 2851 2288 2000 4897 2188 1998 4604 2017 2185 1045 2074 10657 2156 2065 1045 2123 2102 2113 2054 2015 2183 2006 2379 9985 3972 12569 2139 2474 12411 6525 2210 3533 1998 1996 7922 2003 9748 2080 14753 3995 1999 1037 3584 2181 2002 19035 2812 3870 2127 2115 102

INFO:tensorflow:input_mask: 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1

INFO:tensorflow:input_mask: 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1

INFO:tensorflow:segment_ids: 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

INFO:tensorflow:segment_ids: 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

INFO:tensorflow:label: 3 (id = 3)

INFO:tensorflow:label: 3 (id = 3)

In [42]:
def create_model(is_predicting, input_ids, input_mask, segment_ids, labels,
                 num_labels):
  
  bert_module = hub.Module(
      BERT_MODEL_HUB,
      trainable=True)
  bert_inputs = dict(
      input_ids=input_ids,
      input_mask=input_mask,
      segment_ids=segment_ids)
  bert_outputs = bert_module(
      inputs=bert_inputs,
      signature="tokens",
      as_dict=True)

  # Use "pooled_output" for classification tasks on an entire sentence.
  # Use "sequence_outputs" for token-level output.
  output_layer = bert_outputs["pooled_output"]
  # with tf.Session() as sess:
  output_layer1 = bert_outputs["pooled_output"]
  # output_layer1 = 999
  hidden_size = output_layer.shape[-1].value

  # Create our own layer to tune for politeness data.
  output_weights = tf.get_variable(
      "output_weights", [num_labels, hidden_size],
      initializer=tf.truncated_normal_initializer(stddev=0.02))

  output_bias = tf.get_variable(
      "output_bias", [num_labels], initializer=tf.zeros_initializer())

  with tf.variable_scope("loss"):

    # Dropout helps prevent overfitting
    output_layer = tf.nn.dropout(output_layer, keep_prob=0.8)

    logits = tf.matmul(output_layer, output_weights, transpose_b=True)
    logits = tf.nn.bias_add(logits, output_bias)
    log_probs = tf.nn.log_softmax(logits, axis=-1)

    # Convert labels into one-hot encoding
    one_hot_labels = tf.one_hot(labels, depth=num_labels, dtype=tf.float32)

    predicted_labels = tf.squeeze(tf.argmax(log_probs, axis=-1, output_type=tf.int32))
    # If we're predicting, we want predicted labels and the probabiltiies.
    if is_predicting:
      return (predicted_labels, log_probs, output_layer1)

    # If we're train/eval, compute loss between predicted and actual label
    per_example_loss = -tf.reduce_sum(one_hot_labels * log_probs, axis=-1)
    loss = tf.reduce_mean(per_example_loss)
    return (loss, predicted_labels, log_probs)

In [43]:
def model_fn_builder(num_labels, learning_rate, num_train_steps,
                     num_warmup_steps):
  """Returns `model_fn` closure for TPUEstimator."""
  def model_fn(features, labels, mode, params):  # pylint: disable=unused-argument
    """The `model_fn` for TPUEstimator."""

    input_ids = features["input_ids"]
    input_mask = features["input_mask"]
    segment_ids = features["segment_ids"]
    label_ids = features["label_ids"]

    is_predicting = (mode == tf.estimator.ModeKeys.PREDICT)
    
    # TRAIN and EVAL
    if not is_predicting:

      (loss, predicted_labels, log_probs) = create_model(
        is_predicting, input_ids, input_mask, segment_ids, label_ids, num_labels)

      train_op = bert.optimization.create_optimizer(
          loss, learning_rate, num_train_steps, num_warmup_steps, use_tpu=False)

      # Calculate evaluation metrics. 
      def metric_fn(label_ids, predicted_labels):
        accuracy = tf.metrics.accuracy(label_ids, predicted_labels)
        true_pos = tf.metrics.true_positives(
            label_ids,
            predicted_labels)
        true_neg = tf.metrics.true_negatives(
            label_ids,
            predicted_labels)   
        false_pos = tf.metrics.false_positives(
            label_ids,
            predicted_labels)  
        false_neg = tf.metrics.false_negatives(
            label_ids,
            predicted_labels)
        
        return {
            "eval_accuracy": accuracy,
            "true_positives": true_pos,
            "true_negatives": true_neg,
            "false_positives": false_pos,
            "false_negatives": false_neg,
            }

      eval_metrics = metric_fn(label_ids, predicted_labels)

      if mode == tf.estimator.ModeKeys.TRAIN:
        return tf.estimator.EstimatorSpec(mode=mode,
          loss=loss,
          train_op=train_op)
      else:
          return tf.estimator.EstimatorSpec(mode=mode,
            loss=loss,
            eval_metric_ops=eval_metrics)
    else:
      (predicted_labels, log_probs, output_layer) = create_model(
        is_predicting, input_ids, input_mask, segment_ids, label_ids, num_labels)
      predictions = {
          'probabilities': log_probs,
          'labels': predicted_labels,
          'pooled_output': output_layer
      }
      return tf.estimator.EstimatorSpec(mode, predictions=predictions)

  # Return the actual model function in the closure
  return model_fn

In [44]:
BATCH_SIZE = 8
LEARNING_RATE = 2e-5
NUM_TRAIN_EPOCHS = 1.0
# Warmup is a period of time where the learning rate is small and gradually increases--usually helps training.
WARMUP_PROPORTION = 0.1
# Model configs
SAVE_CHECKPOINTS_STEPS = 300
SAVE_SUMMARY_STEPS = 100

# Compute train and warmup steps from batch size
num_train_steps = int(len(train_features) / BATCH_SIZE * NUM_TRAIN_EPOCHS)
num_warmup_steps = int(num_train_steps * WARMUP_PROPORTION)

# Specify output directory and number of checkpoint steps to save
run_config = tf.estimator.RunConfig(
    model_dir=OUTPUT_DIR,
    save_summary_steps=SAVE_SUMMARY_STEPS,
    save_checkpoints_steps=SAVE_CHECKPOINTS_STEPS)

# Specify output directory and number of checkpoint steps to save
run_config = tf.estimator.RunConfig(
    model_dir=OUTPUT_DIR,
    save_summary_steps=SAVE_SUMMARY_STEPS,
    save_checkpoints_steps=SAVE_CHECKPOINTS_STEPS)

In [45]:
num_train_steps, len(label_list)

(982, 5)

In [46]:
#Initializing the model and the estimator
model_fn = model_fn_builder(
  num_labels=len(label_list),
  learning_rate=LEARNING_RATE,
  num_train_steps=num_train_steps,
  num_warmup_steps=num_warmup_steps)

estimator = tf.estimator.Estimator(
  model_fn=model_fn,
  config=run_config,
  params={"batch_size": BATCH_SIZE})

INFO:tensorflow:Using config: {'_model_dir': './bert_output/', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': 300, '_save_checkpoints_secs': None, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x000002D3DE83B9E8>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

INFO:tensorflow:Using config: {'_model_dir': './bert_output/', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': 300, '_save_checkpoints_secs': None, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x000002D3DE83B9E8>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [47]:
# Create an input function for training. drop_remainder = True for using TPUs.
train_input_fn = bert.run_classifier.input_fn_builder(
    features=train_features,
    seq_length=MAX_SEQ_LENGTH,
    is_training=True,
    drop_remainder=False)

# Create an input function for validating. drop_remainder = True for using TPUs.
val_input_fn = run_classifier.input_fn_builder(
    features=val_features,
    seq_length=MAX_SEQ_LENGTH,
    is_training=False,
    drop_remainder=False)

In [48]:
#Training the model
print(f'Beginning Training!')
current_time = datetime.now()
estimator.train(input_fn=train_input_fn, max_steps=num_train_steps)
print("Training took time ", datetime.now() - current_time)

Beginning Training!
WARNING:tensorflow:From C:\Users\ej\anaconda3\envs\bert\lib\site-packages\tensorflow_core\python\training\training_util.py:236: Variable.initialized_value (from tensorflow.python.ops.variables) is deprecated and will be removed in a future version.
Instructions for updating:
Use Variable.read_value. Variables in 2.X are initialized automatically both in eager and graph (inside tf.defun) contexts.

WARNING:tensorflow:From C:\Users\ej\anaconda3\envs\bert\lib\site-packages\tensorflow_core\python\training\training_util.py:236: Variable.initialized_value (from tensorflow.python.ops.variables) is deprecated and will be removed in a future version.
Instructions for updating:
Use Variable.read_value. Variables in 2.X are initialized automatically both in eager and graph (inside tf.defun) contexts.

INFO:tensorflow:Calling model_fn.

INFO:tensorflow:Calling model_fn.

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

WARNING:tensorflow:From <ipython-input-42-a75d089b65af>:35: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

WARNING:tensorflow:From <ipython-input-42-a75d089b65af>:35: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

WARNING:tensorflow:From C:\Users\ej\anaconda3\envs\bert\lib\site-packages\bert\optimization.py:27: The name tf.train.get_or_create_global_step is deprecated. Please use tf.compat.v1.train.get_or_create_global_step instead.

WARNING:tensorflow:From C:\Users\ej\anaconda3\envs\bert\lib\site-packages\bert\optimization.py:27: The name tf.train.get_or_create_global_step is deprecated. Please use tf.compat.v1.train.get_or_create_global_step instead.

WARNING:tensorflow:From C:\Users\ej\anaconda3\envs\bert\lib\site-packages\bert\optimization.py:32: The name tf.train.polynomial_decay is deprecated. Please use tf.compat.v1.train.polynomial_decay instead.

WARNING:tensorflow:From C:\Users\ej\anaconda3\envs\bert\lib\site-packages\bert\optimization.py:32: The name tf.train.polynomial_decay is deprecated. Please use tf.compat.v1.train.polynomial_decay instead.

WARNING:tensorflow:From C:\Users\ej\anaconda3\envs\bert\lib\site-packages\bert\optimization.py:70: The name tf.trainable_variables is deprecated. Please use tf.compat.v1.trainable_variables instead.

WARNING:tensorflow:From C:\Users\ej\anaconda3\envs\bert\lib\site-packages\bert\optimization.py:70: The name tf.trainable_variables is deprecated. Please use tf.compat.v1.trainable_variables instead.

WARNING:tensorflow:From C:\Users\ej\anaconda3\envs\bert\lib\site-packages\tensorflow_core\python\ops\math_grad.py:1375: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

WARNING:tensorflow:From C:\Users\ej\anaconda3\envs\bert\lib\site-packages\tensorflow_core\python\ops\math_grad.py:1375: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
C:\Users\ej\anaconda3\envs\bert\lib\site-packages\tensorflow_core\python\framework\indexed_slices.py:424: UserWarning: Converting sparse IndexedSlices to a dense Tensor of unknown shape. This may consume a large amount of memory.
  "Converting sparse IndexedSlices to a dense Tensor of unknown shape. "

INFO:tensorflow:Done calling model_fn.

INFO:tensorflow:Done calling model_fn.

INFO:tensorflow:Create CheckpointSaverHook.

INFO:tensorflow:Create CheckpointSaverHook.

INFO:tensorflow:Graph was finalized.

INFO:tensorflow:Graph was finalized.

INFO:tensorflow:Running local_init_op.

INFO:tensorflow:Running local_init_op.

INFO:tensorflow:Done running local_init_op.

INFO:tensorflow:Done running local_init_op.

INFO:tensorflow:Saving checkpoints for 0 into ./bert_output/model.ckpt.

INFO:tensorflow:Saving checkpoints for 0 into ./bert_output/model.ckpt.

INFO:tensorflow:loss = 1.5512984, step = 0

INFO:tensorflow:loss = 1.5512984, step = 0

INFO:tensorflow:global_step/sec: 2.80541

INFO:tensorflow:global_step/sec: 2.80541

INFO:tensorflow:loss = 0.04328139, step = 100 (35.646 sec)

INFO:tensorflow:loss = 0.04328139, step = 100 (35.646 sec)

INFO:tensorflow:global_step/sec: 3.74017

INFO:tensorflow:global_step/sec: 3.74017

INFO:tensorflow:loss = 0.004184951, step = 200 (26.738 sec)

INFO:tensorflow:loss = 0.004184951, step = 200 (26.738 sec)

INFO:tensorflow:Saving checkpoints for 300 into ./bert_output/model.ckpt.

INFO:tensorflow:Saving checkpoints for 300 into ./bert_output/model.ckpt.

INFO:tensorflow:global_step/sec: 2.3632

INFO:tensorflow:global_step/sec: 2.3632

INFO:tensorflow:loss = 3.5355225, step = 300 (42.315 sec)

INFO:tensorflow:loss = 3.5355225, step = 300 (42.315 sec)

INFO:tensorflow:global_step/sec: 3.71035

INFO:tensorflow:global_step/sec: 3.71035

INFO:tensorflow:loss = 2.9976492, step = 400 (26.951 sec)

INFO:tensorflow:loss = 2.9976492, step = 400 (26.951 sec)

INFO:tensorflow:global_step/sec: 3.81222

INFO:tensorflow:global_step/sec: 3.81222

INFO:tensorflow:loss = 2.9562984, step = 500 (26.231 sec)

INFO:tensorflow:loss = 2.9562984, step = 500 (26.231 sec)

INFO:tensorflow:Saving checkpoints for 600 into ./bert_output/model.ckpt.

INFO:tensorflow:Saving checkpoints for 600 into ./bert_output/model.ckpt.

INFO:tensorflow:global_step/sec: 2.36194

INFO:tensorflow:global_step/sec: 2.36194

INFO:tensorflow:loss = 0.536268, step = 600 (42.339 sec)

INFO:tensorflow:loss = 0.536268, step = 600 (42.339 sec)

INFO:tensorflow:global_step/sec: 3.81149

INFO:tensorflow:global_step/sec: 3.81149

INFO:tensorflow:loss = 0.708729, step = 700 (26.235 sec)

INFO:tensorflow:loss = 0.708729, step = 700 (26.235 sec)

INFO:tensorflow:global_step/sec: 3.8109

INFO:tensorflow:global_step/sec: 3.8109

INFO:tensorflow:loss = 0.024514882, step = 800 (26.242 sec)

INFO:tensorflow:loss = 0.024514882, step = 800 (26.242 sec)

INFO:tensorflow:Saving checkpoints for 900 into ./bert_output/model.ckpt.

INFO:tensorflow:Saving checkpoints for 900 into ./bert_output/model.ckpt.

INFO:tensorflow:global_step/sec: 2.38906

INFO:tensorflow:global_step/sec: 2.38906

INFO:tensorflow:loss = 2.6893954, step = 900 (41.856 sec)

INFO:tensorflow:loss = 2.6893954, step = 900 (41.856 sec)

INFO:tensorflow:Saving checkpoints for 982 into ./bert_output/model.ckpt.

INFO:tensorflow:Saving checkpoints for 982 into ./bert_output/model.ckpt.

INFO:tensorflow:Loss for final step: 0.54935765.

INFO:tensorflow:Loss for final step: 0.54935765.

Training took time  0:07:05.176723

In [49]:
#Evaluating the model with Validation set
estimator.evaluate(input_fn=val_input_fn, steps=None)

INFO:tensorflow:Calling model_fn.

INFO:tensorflow:Calling model_fn.

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore
C:\Users\ej\anaconda3\envs\bert\lib\site-packages\tensorflow_core\python\framework\indexed_slices.py:424: UserWarning: Converting sparse IndexedSlices to a dense Tensor of unknown shape. This may consume a large amount of memory.
  "Converting sparse IndexedSlices to a dense Tensor of unknown shape. "

INFO:tensorflow:Done calling model_fn.

INFO:tensorflow:Done calling model_fn.

INFO:tensorflow:Starting evaluation at 2020-09-21T04:11:33Z

INFO:tensorflow:Starting evaluation at 2020-09-21T04:11:33Z

INFO:tensorflow:Graph was finalized.

INFO:tensorflow:Graph was finalized.

INFO:tensorflow:Restoring parameters from ./bert_output/model.ckpt-982

INFO:tensorflow:Restoring parameters from ./bert_output/model.ckpt-982

INFO:tensorflow:Running local_init_op.

INFO:tensorflow:Running local_init_op.

INFO:tensorflow:Done running local_init_op.

INFO:tensorflow:Done running local_init_op.

INFO:tensorflow:Finished evaluation at 2020-09-21-04:11:56

INFO:tensorflow:Finished evaluation at 2020-09-21-04:11:56

INFO:tensorflow:Saving dict for global step 982: eval_accuracy = 0.8027383, false_negatives = 0.0, false_positives = 26.0, global_step = 982, loss = 0.9358122, true_negatives = 0.0, true_positives = 1946.0

INFO:tensorflow:Saving dict for global step 982: eval_accuracy = 0.8027383, false_negatives = 0.0, false_positives = 26.0, global_step = 982, loss = 0.9358122, true_negatives = 0.0, true_positives = 1946.0

INFO:tensorflow:Saving 'checkpoint_path' summary for global step 982: ./bert_output/model.ckpt-982

INFO:tensorflow:Saving 'checkpoint_path' summary for global step 982: ./bert_output/model.ckpt-982

{'eval_accuracy': 0.8027383,
 'false_negatives': 0.0,
 'false_positives': 26.0,
 'loss': 0.9358122,
 'true_negatives': 0.0,
 'true_positives': 1946.0,
 'global_step': 982}

In [50]:
# A method to get predictions
def getPrediction(in_sentences, type_output = "features"):
  #A list to map the actual labels to the predictions
  labels = np.unique(train['label'])
  input_examples = [run_classifier.InputExample(guid="", text_a = x, text_b = None, label = 0) for x in in_sentences] 
  input_features = run_classifier.convert_examples_to_features(input_examples, label_list, MAX_SEQ_LENGTH, tokenizer)
  #Predicting the classes 
  predict_input_fn = run_classifier.input_fn_builder(features=input_features, seq_length=MAX_SEQ_LENGTH, is_training=False, drop_remainder=False)
  predictions = estimator.predict(predict_input_fn)
  if type_output == "features":
    return [prediction['pooled_output'] for _,prediction in enumerate(predictions) ]
  else:
    return ([(sentence, prediction['probabilities'],
              prediction['labels'], labels[prediction['labels']]) for sentence, prediction in zip(in_sentences, predictions)])

In [51]:
tf.compat.v1.logging.set_verbosity(tf.logging.ERROR)
MAX_SEQ_LENGTH

200

In [52]:
train_df.shape, val_df.shape

((7859, 2), (1972, 2))

In [53]:
# transcript_raw = transcript_raw[transcript_raw.human_transcript.notnull()]
# train_df = train_df[train_df.DATA_COLUMN.notnull()]
# train_df.shape
train_df.head()

                                                text  label
0  my name is Cindy Mosqueda Im 29 years old toda...      3
1  I was born in your parents my parents are or w...      3
2  and my mother was living in town so they met b...      3
3  go do you want most of this is what Ive been t...      3
4  me we were so so poor that my mother used to a...      3

In [54]:
%%time
tr_emb = np.apply_along_axis(getPrediction, 0,np.array(train_df[DATA_COLUMN]))

Wall time: 1min 38s

In [55]:
%%time
val_emb = np.apply_along_axis(getPrediction, 0,np.array(val_df[DATA_COLUMN]))
val_emb.shape

Wall time: 30 s

(1972, 768)

In [56]:
val_emb.shape, tr_emb.shape

((1972, 768), (7859, 768))

In [57]:
aux = -1
len_l = 0
train_x = {}
for l, emb in zip(index_l, tr_emb):
  if l in train_x.keys():
    train_x[l]  =np.vstack([train_x[l], emb])
  else:
    train_x[l] = [emb]

len(train_x.keys())

265

In [58]:
train_l_final = []
label_l_final = []
for k in train_x.keys():
  train_l_final.append(train_x[k])
  label_l_final.append(train.loc[k]['label'])

df_train = pd.DataFrame({'emb': train_l_final, 'label': label_l_final, })
df_train.head()

                                                 emb  label
0  [[-0.9794256, -0.59988445, 0.9161703, 0.347102...      3
1  [[-0.9794501, -0.6005068, 0.9161681, 0.3469362...      3
2  [[-0.9792903, -0.6004153, 0.91549295, 0.348133...      3
3  [[-0.9792723, -0.6000406, 0.9154477, 0.346477,...      3
4  [[-0.9791686, -0.59854317, 0.91483086, 0.34641...      4

In [59]:
aux = -1
len_l = 0
val_x = {}

for l, emb in zip(val_index_l, val_emb):
  if l in val_x.keys():
    val_x[l]  =np.vstack([val_x[l], emb])
  else:
    val_x[l] = [emb]


val_l_final = []
vlabel_l_final = []
for k in val_x.keys():
  val_l_final.append(val_x[k])
  vlabel_l_final.append(val.loc[k]['label'])

df_val = pd.DataFrame({'emb': val_l_final, 'label': vlabel_l_final})
df_val.head()

                                                 emb  label
0  [[-0.9779639, -0.59722364, 0.9129541, 0.334442...      3
1  [[-0.9794135, -0.60033906, 0.91595435, 0.34620...      3
2  [[-0.9780164, -0.5954613, 0.9131257, 0.3403696...      3
3  [[-0.9795296, -0.60106283, 0.9158731, 0.347619...      4
4  [[-0.97945964, -0.6002956, 0.9162129, 0.347096...      3

In [60]:
df_val, df_test = train_test_split(df_val, test_size=0.4, random_state=35)

In [61]:
from keras import layers
text_input = Input(shape=(None,768,), dtype='float32', name='text')

l_mask = layers.Masking(mask_value=-99.)(text_input)
# Which we encoded in a single vector via a LSTM
encoded_text = layers.LSTM(100,)(l_mask)
out_dense = layers.Dense(30, activation='relu')(encoded_text)
# And we add a softmax classifier on top
out = layers.Dense(len(label_list), activation='softmax')(out_dense)
# At model instantiation, we specify the input and the output:
model = Model(text_input, out)
model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['acc'])
model.summary()

Model: "model_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
text (InputLayer)            (None, None, 768)         0
_________________________________________________________________
masking_1 (Masking)          (None, None, 768)         0
_________________________________________________________________
lstm_1 (LSTM)                (None, 100)               347600
_________________________________________________________________
dense_1 (Dense)              (None, 30)                3030
_________________________________________________________________
dense_2 (Dense)              (None, 5)                 155
=================================================================
Total params: 350,785
Trainable params: 350,785
Non-trainable params: 0
_________________________________________________________________

In [62]:
df_train.shape, df_val.shape, df_test.shape

((265, 2), (40, 2), (27, 2))

In [64]:
num_sequences = len(df_train['emb'].to_list())
num_sequences

265

In [65]:
num_sequences = len(df_train['emb'].to_list())
batch_size = 5
batches_per_epoch =  53
assert batch_size * batches_per_epoch == num_sequences
num_features= 768
def train_generator(df):
    x_list= df['emb'].to_list()
    y_list =  df.label.to_list()
    # Generate batches
    while True:
        for b in range(batches_per_epoch):
            longest_index = (b + 1) * batch_size - 1
            timesteps = len(max(df['emb'].to_list()[:(b + 1) * batch_size][-batch_size:], key=len))
            x_train = np.full((batch_size, timesteps, num_features), -99.)
            y_train = np.zeros((batch_size,  1))
            for i in range(batch_size):
                li = b * batch_size + i
                x_train[i, 0:len(x_list[li]), :] = x_list[li]
                y_train[i] = y_list[li]
            yield x_train, y_train

In [66]:
num_sequences_val = len(df_val['emb'].to_list())
num_sequences_val

40

In [67]:
num_sequences_val = len(df_val['emb'].to_list())
batch_size_val = 4
batches_per_epoch_val = 10
assert batch_size_val * batches_per_epoch_val == num_sequences_val
num_features= 768
def val_generator(df):
    x_list= df['emb'].to_list()
    y_list =  df.label.to_list()
    # Generate batches
    while True:
        for b in range(batches_per_epoch_val):
            longest_index = (b + 1) * batch_size_val - 1
            timesteps = len(max(df['emb'].to_list()[:(b + 1) * batch_size_val][-31:], key=len))
            # print(len(df_train['emb'].to_list()[:b+batch_size][-7:]))
            x_train = np.full((batch_size_val, timesteps, num_features), -99.)
            y_train = np.zeros((batch_size_val,  1))
            for i in range(batch_size_val):
                li = b * batch_size_val + i
                # print("li", li)
                # print(x_train[i, 0:len(x_list[li]), :].shape, len(x_list[li]))
                x_train[i, 0:len(x_list[li]), :] = x_list[li]
                y_train[i] = y_list[li]
            yield x_train, y_train

In [68]:
from keras.callbacks import ReduceLROnPlateau
call_reduce = ReduceLROnPlateau(monitor='val_acc', factor=0.95, patience=3, verbose=2,
                                mode='auto', min_delta=0.01, cooldown=0, min_lr=0)

In [69]:
model.fit_generator(train_generator(df_train), steps_per_epoch=batches_per_epoch, epochs=10,
                    validation_data=val_generator(df_val), validation_steps=batches_per_epoch_val, callbacks =[call_reduce] )

Epoch 1/10
53/53 [==============================] - 2s 38ms/step - loss: 0.6136 - acc: 0.8453 - val_loss: 1.0609 - val_acc: 0.7750
Epoch 2/10
53/53 [==============================] - 2s 32ms/step - loss: 0.5387 - acc: 0.8604 - val_loss: 1.0793 - val_acc: 0.7750
Epoch 3/10
53/53 [==============================] - 2s 32ms/step - loss: 0.5327 - acc: 0.8604 - val_loss: 1.0913 - val_acc: 0.7750
Epoch 4/10
53/53 [==============================] - 2s 32ms/step - loss: 0.5315 - acc: 0.8604 - val_loss: 1.0958 - val_acc: 0.7750

Epoch 00004: ReduceLROnPlateau reducing learning rate to 0.0009500000451225787.
Epoch 5/10
53/53 [==============================] - 2s 33ms/step - loss: 0.5312 - acc: 0.8604 - val_loss: 1.0831 - val_acc: 0.7750
Epoch 6/10
53/53 [==============================] - 2s 33ms/step - loss: 0.5299 - acc: 0.8604 - val_loss: 1.0918 - val_acc: 0.7750
Epoch 7/10
53/53 [==============================] - 2s 32ms/step - loss: 0.5295 - acc: 0.8604 - val_loss: 1.0951 - val_acc: 0.7750

Epoch 00007: ReduceLROnPlateau reducing learning rate to 0.0009025000152178108.
Epoch 8/10
53/53 [==============================] - 2s 33ms/step - loss: 0.5290 - acc: 0.8604 - val_loss: 1.0984 - val_acc: 0.7750
Epoch 9/10
53/53 [==============================] - 2s 33ms/step - loss: 0.5290 - acc: 0.8604 - val_loss: 1.0994 - val_acc: 0.7750
Epoch 10/10
53/53 [==============================] - 2s 32ms/step - loss: 0.5289 - acc: 0.8604 - val_loss: 1.1010 - val_acc: 0.7750

Epoch 00010: ReduceLROnPlateau reducing learning rate to 0.0008573750033974647.

In [70]:
num_sequences_val = len(df_test['emb'].to_list())
num_sequences_val

27

In [71]:
num_sequences_val = len(df_test['emb'].to_list())
batch_size_val = 3
batches_per_epoch_val = 9
assert batch_size_val * batches_per_epoch_val == num_sequences_val
num_features= 768
model.evaluate_generator(val_generator(df_test), steps= batches_per_epoch_val)

[0.14934326708316803, 0.8518518805503845]